<div class="container content assessment-report" ng-init="ctrl.getFeedback()">
    <div class="col-lg-12" style="padding: 0px">
        <div class="col-lg-6 assessment-title">{{ctrl.feedbackReport.title}}</div>
        <div class="col-lg-6 assessment-score" align="right">
            <span>Total Score : {{ctrl.feedbackReport.totalScore}}%</span> &nbsp;
            <span title="View Feedback" ng-click="ctrl.viewResponse()" style="cursor: pointer;"><i class="fa fa-window-maximize" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="col-lg-12 pull-right text-right">
        <div class="legend-group">
            <div class="legend-color lt-30"></div>
            <div class="legend-value">&lt; 30%</div>
        </div>
        <div class="legend-group">
            <div class="legend-color between-range"></div>
            <div class="legend-value">30% - 70%</div>
        </div>
        <div class="legend-group">
            <div class="legend-color gt-70"></div>
            <div class="legend-value">&gt; 70%</div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row report-sheet">
        <div class="row col-lg-12 report-row">
            <div class="col-lg-2 empty-box"></div>
            <div class="col-lg-2 level-box">Level 1</div>
            <div class="col-lg-2 level-box">Level 2</div>
            <div class="col-lg-2 level-box">Level 3</div>
            <div class="col-lg-2 level-box">Level 4</div>
            <div class="col-lg-2 level-box">Level 5</div>
        </div>
        <div class="row col-lg-12 report-row" ng-repeat="section in ctrl.feedbackReport.sectionList">
            <div class="col-lg-2 section-box">{{section.title}}</div>
            <div class="col-lg-2 heading-box" ng-repeat="level in section.levelList">
                <uib-progressbar class="progress-striped" value="level.completion" type="{{ctrl.getProgressType(level.rating)}}">{{level.completion}}%</uib-progressbar>
                <ul>
                    <li ng-repeat="heading in level.headingList">{{heading.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>