<div class="container content" ng-init="ctrl.getFeedback()">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <span class="headerText">Manage Feedback</h3>
            </div>
            <div class="row manage-feedback">
                <div align="center" ng-if="ctrl.feedbackList.length === 0">No records found</div>
                <div class="col-lg-12" ng-repeat="feedback in ctrl.feedbackList" style="padding: 10px 0px;">
                    <div class="col-lg-1 delete" title="Delete Feedback" ng-click="ctrl.deleteFeedback(feedback)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></div>
                    <div class="col-lg-1 edit" title="Edit Feedback" ng-click="ctrl.editFeedback(feedback.id)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></div>
                    <div class="col-lg-1 report" title="View Report" ng-click="ctrl.viewReport(feedback.id)"><i class="fa fa-table fa-2x" aria-hidden="true"></i></div>
                    <div class="col-lg-6 title">{{feedback.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>