<div class="container content take-assessment" ng-init="ctrl.getAssessments()">
    <div class="select-assessment" ng-if="!ctrl.showAssessment">
        <span class="select-label">Select Assessment :</span>
        <select ng-model="ctrl.assessmentId" ng-change="ctrl.getAssessment()">
            <option value="">Please Select</option>
            <option ng-repeat="assessment in ctrl.assessmentList" value="{{assessment.assessmentId}}">{{assessment.title}}</option>
        </select>
    </div>
    <div ng-if="ctrl.showAssessment">
        <div class="col-lg-12" style="padding: 0px">
            <div class="col-lg-6 assessment-title">{{ctrl.assessment.title}}</div>
            <div class="col-lg-6" align="right" style="padding: 0px">
                <a class="btn btnBorder" href="javascript:void(0)" ng-click="ctrl.hideAssessment()">Cancel</a>
                <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToPrev()" ng-if="ctrl.showPrev()">Prev</a>
                <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToNext()" ng-if="ctrl.showNext()">Next</a>
                <a class="btn btn-primary" href="javascript:void(0)" ng-click="ctrl.submitFeedback()">Submit</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="section">
            <div class="bold-font">{{ctrl.section.title}}</div>
            <div class="activity">
                <p>Acivities</p>
                <div ng-repeat="activity in ctrl.section.activityList">{{activity.activityDescription}}</div>
                <div class="key-findings">
                    <p>Key Findings & Notes :</p>
                    <textarea ng-model="ctrl.section.keyFindings"></textarea>
                </div>
            </div>
            <div ng-repeat="level in ctrl.section.levelList" class="level">
                <div class="bold-font">{{level.title}}</div>
                <div ng-repeat="heading in level.headingList" class="heading">
                    <div class="bold-font">{{heading.title}}</div>
                    <div ng-repeat="question in heading.questionList">
                        <div class="row question">
                            <div>{{question.questionText}}</div>
                            <div class="col-lg-12 verticalSpace" style="padding-left: 0px;" ng-switch on="question.questionType">
                                <div ng-switch-when="1">
                                    <ul class="optionList">
                                        <li ng-repeat="option in question.options">
                                            <input type="radio" name="option_{{question.questionId}}" ng-model="option.selected" ng-value="'true'" ng-click="ctrl.selectOption(question.options, option)" /> {{option.optionText}}
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="2">
                                    <ul class="optionList">
                                        <li ng-repeat="option in question.options">
                                            <input type="checkbox" ng-model="option.selected" ng-true-value="'true'" ng-false-value="'false'" /> {{option.optionText}}
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="3">
                                    <textarea ng-model="question.response" style="width: 100%;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="key-findings">
                        <p>Key Findings & Notes :</p>
                        <textarea ng-model="heading.keyFindings"></textarea>
                    </div>
                </div>
            </div>
            <div class="stakeholder-interviews">
                <p>Stakeholder(s) interviewed with their role in the organization :</p>
                <textarea ng-model="ctrl.section.stakeholderInterviews"></textarea>
            </div>
        </div>
        <div class="col-lg-12" align="right" style="padding-bottom: 10px">
            <a class="btn btnBorder" href="javascript:void(0)" ng-click="ctrl.hideAssessment()">Cancel</a>
            <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToPrev()" ng-if="ctrl.showPrev()">Prev</a>
            <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToNext()" ng-if="ctrl.showNext()">Next</a>
            <a class="btn btn-primary" href="javascript:void(0)" ng-click="ctrl.submitFeedback()">Submit</a>
        </div>
    </div>
</div>