<div class="view-feedback">
    <div id="modal-header" class="row modal-header">
        <div class="col-lg-10 title">
            <span>{{ctrl.assessment.title}} Feedback</span>
        </div>
        <div class="col-lg-2 closeButton" align="right" ng-click="ctrl.cancel()"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></div>
    </div>
    <div class="assessment">
        <div class="section">
            <div class="col-lg-12" style="padding: 0px">
                <div class="col-lg-9 bold-font" style="padding-left: 0px">{{ctrl.section.title}}</div>
                <div class="col-lg-3 text-right" style="padding-right: 0px">
                    <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToPrev()" ng-if="ctrl.showPrev()">Prev</a>
                    <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToNext()" ng-if="ctrl.showNext()">Next</a>
                </div>
            </div>
            <div class="activity">
                <p>Acivities</p>
                <div class="bold-font" ng-repeat="activity in ctrl.section.activityList">{{activity.activityDescription}}</div>
                <div class="key-findings">
                    <p>Key Findings & Notes :</p>
                    <span ng-bind="ctrl.section.keyFindings"></span>
                </div>
            </div>
            <div ng-repeat="level in ctrl.section.levelList" class="level">
                <div class="bold-font">{{level.title}}</div>
                <div ng-repeat="heading in level.headingList" class="heading">
                    <div class="bold-font">{{heading.title}}</div>
                    <div ng-repeat="question in heading.questionList">
                        <div class="row question">
                            <div>{{question.questionText}}</div>
                            <div class="col-lg-12 verticalSpace" style="padding-left: 0px;" ng-switch on="question.questionType">
                                <div ng-switch-when="1">
                                    <ul class="optionList">
                                        <li ng-repeat="option in question.options" style="display: inline; padding-right: 10px;">
                                            <i class="fa" ng-class="{'fa-circle-o': !option.selected || option.selected === 'false', 'fa-dot-circle-o': option.selected === 'true'}" aria-hidden="true"></i> {{option.optionText}}
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="2">
                                    <ul class="optionList">
                                        <li ng-repeat="option in question.options">
                                            <input type="checkbox" ng-model="option.selected" ng-true-value="'true'" ng-false-value="'false'" /> {{option.optionText}}
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="3">
                                    <textarea ng-model="question.response" style="width: 100%;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="key-findings">
                        <p>Key Findings & Notes :</p>
                        <span ng-bind="heading.keyFindings"></span>
                    </div>
                </div>
            </div>
            <div class="stakeholder-interviews">
                <p>Stakeholder(s) interviewed with their role in the organization :</p>
                <span ng-bind="ctrl.section.stakeholderInterviews"></span>
            </div>
            <div class="col-lg-12 text-right" style="padding: 0px">
                <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToPrev()" ng-if="ctrl.showPrev()">Prev</a>
                <a class="btn btn-primary btn-green" href="javascript:void(0)" ng-click="ctrl.goToNext()" ng-if="ctrl.showNext()">Next</a>
            </div>
        </div>
    </div>
</div>