<div class="wrapper">
    <div id="dashboardHeader" class="view-header dashboard-view-header navbar navbar-default">
        <div class="dashboardNames" ng-if="!ctrl.edit">
            <div ng-repeat="dashboard in ctrl.dashboardList track by $index">
                <p ng-click="ctrl.selectDashboard($index)" ng-class="{active: ctrl.currentIndex == $index}">{{dashboard.title}}</p>
            </div>
            <span class="glyphicon glyphicon-plus" ng-click="ctrl.createDashboard()"></span>
        </div>
        <div class="newDash form-group" ng-if="ctrl.edit">
            <span class="title">Dashboard Title : </span>
            <input type="text" ng-model="ctrl.currentDashboard.title" placeholder="Enter Dashboard Title" required>
            <span class="error">{{ctrl.errorText}}</span>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-if="!ctrl.edit">
            <li title="Full Screen" class="full-screen" ng-click="ctrl.showFullScreen()"><span class="glyphicon glyphicon-fullscreen"></span></li>
            <li title="Dashboard Configuration" class="config" ng-click="ctrl.showConfiguration()"><span class="glyphicon glyphicon-cog"></span></li>
            <li><button class="export">Export Report</button></li>
            <li><button class="settings" ng-click="ctrl.showEditor()">Settings</button></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="ctrl.edit">
            <li><button class="cancel" ng-click="ctrl.revertChanges();">Cancel</button></li>
            <li ng-if="!ctrl.newDashboard && ctrl.dashboardList.length > 1"><button class="delete" ng-click="ctrl.deleteDashboard();">Delete</button></li>
            <li><button class="save" ng-click="ctrl.saveDashboard()">Save</button></li>
        </ul>
    </div>
    <div class="slider-panel" ng-if="ctrl.edit">
        <p class="info">You have {{ctrl.numOfWidgets}} widget(s) selected on your dashboard</p>
        <div class="slider-content" uib-carousel active="ctrl.active" interval="0" no-wrap="ctrl.noWrapSlides">
            <div uib-slide ng-repeat="slideGroup in ctrl.slideData track by slideGroup.index" index="slideGroup.index">
                <div class="slide" ng-class="{'light-slide': ctrl.hasWidget(slide), 'dark-slide': !ctrl.hasWidget(slide)}" ng-repeat="slide in slideGroup.slides track by slide.index">
                    <div class="slide-toggle">
                        <div ng-if="!ctrl.hasWidget(slide)" ng-click="ctrl.addWidget(slide)" class="addWidget">+</div>
                        <div ng-if="ctrl.hasWidget(slide)" ng-click="ctrl.removeWidget(slide)" class="removeWidget">&minus;</div>
                    </div>
                    <p class="slide-title">{{slide.title}}</p>
                    <p>{{slide.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <div ui-sortable="ctrl.sortOptions" ng-model="ctrl.currentDashboard.widgetList" class="dashboard column-{{ctrl.dashboardConfiguration.columnCount}} {{ctrl.dashboardConfiguration.theme}}">
        <widget-box class="widget-box" dashboard-config="ctrl.dashboardConfiguration" widget-data="ctrl.widgetsData[widget.name]" widget-info="widget" edit="ctrl.edit" data-widget="{{widget.name}}" remove-widget="ctrl.removeWidget(widget)" ng-repeat="widget in ctrl.currentDashboard.widgetList"></widget-box>
    </div>
</div>