<div class="dashboard-configuration">
    <div class="row modal-header">
        <div class="col-lg-8 title">
            <span>Dashboard Configuration</h4>
        </div>
        <div class="col-lg-4 closeButton" align="right" ng-click="ctrl.cancel()"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></div>
    </div>
    <div class="row col-lg-12 config-panel">
        <div class="title">Columns</div>
        <div class="list">
            <ul>
                <li><input type="radio" name="column" value="1" ng-model="ctrl.configuration.columnCount"/> 1 Column</li>
                <li><input type="radio" name="column" value="2" ng-model="ctrl.configuration.columnCount"/> 2 Columns</li>
                <li><input type="radio" name="column" value="3" ng-model="ctrl.configuration.columnCount"/> 3 Columns</li>
            </ul>
        </div>
    </div>
    <div class="row col-lg-12 config-panel">
        <div class="title">Themes</div>
        <div class="list">
            <ul>
                <li><input type="radio" name="theme" value="light" ng-model="ctrl.configuration.theme"/> Light Theme</li>
                <li><input type="radio" name="theme" value="dark" ng-model="ctrl.configuration.theme"/> Dark Theme</li>
            </ul>
        </div>
    </div>
    <div class="row buttons">
        <a href="javascript:void(0)" class="btn" ng-click="ctrl.cancel()" style="border: 1px solid #2e6da4">Cancel</a>
        <button class="btn btn-primary" ng-click="ctrl.saveConfiguration()">Save</button>
    </div>
</div>