<div class="drill-down">
    <div class="row modal-header">
        <div class="col-lg-10 title">
            <span>{{ctrl.title}}</span>
        </div>
        <div class="col-lg-2 closeButton" align="right" ng-click="ctrl.cancel()"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></div>
    </div>
    <div class="drill-down-wrapper">
        <div class="drill-down-header" ng-repeat="header in ctrl.drillDownHeader">
            <p class="frequencyValue">{{header.value|number:0}}<span class="percent" ng-if="header.unitValue.toLowerCase() == 'percentage'">%</span><span class="glyphicon" ng-class="{'glyphicon-arrow-up' : header.arrowValue === 'up', 'glyphicon-arrow-down' : header.arrowValue === 'down'}"></span></p>
            <p class="frequency">{{header.unitValue}}</p>
        </div>
        <div>
            <table class="version-data">
                <tr>
                    <th></th>
                    <th>DEV</th>
                    <th>INT</th>
                    <th>UAT</th>
                    <th>PRE-PROD</th>
                </tr>
                <tr ng-repeat="data in ctrl.drillDown.drillDownData">
                    <td>{{data.manifestVersion}}</td>
                    <td>{{data.DEV}}</td>
                    <td>{{data.INT}}</td>
                    <td>{{data.TEST}}</td>
                    <td>{{data.PROD}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>