<div class="drill-down">
    <div class="row modal-header">
        <div class="col-lg-10 title">
            <span>{{ctrl.title}}</span>
        </div>
        <div class="col-lg-2 closeButton" align="right" ng-click="ctrl.cancel()"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></div>
    </div>
    <div class="drill-down-wrapper">
        <div class="drill-down-header" ng-repeat="header in ctrl.drillDownHeader">
            <p class="frequencyValue">{{header.value|number:0}}<span class="percent">%</span><span class="glyphicon" ng-class="{'glyphicon-arrow-up' : header.arrowValue === 'up', 'glyphicon-arrow-down' : header.arrowValue === 'down'}"></span></p>
            <select ng-model="ctrl.selectedMonth" ng-change="ctrl.updateDeploymentList()" ng-options="data.month as data.month for data in ctrl.drillDown.drillDownData">
                <!-- <option ng-repeat="data in ctrl.drillDown.drillDownData" value="{{data.month}}" ng-if="data.month">{{data.month}}</option>
                <option ng-if="!data.month">{{ctrl.selectedMonth}}</option> -->
            </select>
        </div>
        <div class="deployment-list-wrapper" ng-if="ctrl.drillDownHeader[0].value != 0">
            <p>Failed deployments in {{ctrl.selectedMonth}}</p>
            <ul>
                <li ng-repeat="version in ctrl.deploymentList">{{version}}</li>
            </ul>
        </div>
        <div class="deployment-list-wrapper" ng-if="ctrl.drillDownHeader[0].value == 0">
            <p>No Failed deployments in {{ctrl.selectedMonth}}</p>
        </div>
    </div>
</div>