<div class="drill-down">
    <div class="row modal-header">
        <div class="col-lg-10 title">
            <span>{{ctrl.title}}</span>
        </div>
        <div class="col-lg-2 closeButton" align="right" ng-click="ctrl.cancel()"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></div>
    </div>
    <div class="drill-down-wrapper">
        <p class="sub-heading" ng-if="ctrl.showLevel">{{level}}</p>
        <div class="drill-down-header" ng-repeat="header in ctrl.drillDownHeader">
            <p class="sub-heading" ng-if="header.isMultiple">{{header.name}}</p>
            <p class="frequencyValue">{{header.value|number:0}}<span class="percent" ng-if="header.unitValue.toLowerCase() == 'percentage'">%</span>
                <span
                    class="glyphicon" ng-class="{'glyphicon-arrow-up' : header.arrowValue === 'up', 'glyphicon-arrow-down' : header.arrowValue === 'down'}"></span>
            </p>
            <p ng-if="!header.isMultiple" class="frequency">{{header.unitValue}}</p>
        </div>
        <c3chart bindto-id="chartGroupDataPoints" sort-data="null" chart-data="ctrl.dataPoints" chart-columns="ctrl.dataColumns"
            chart-x="ctrl.datax" callback-function="ctrl.handleCallback" padding-top="25">
            <chart-tooltip show-tooltip="true" />
            <chart-size chart-height="400" />
            <chart-axes values-x="x" />
            <chart-axis>
                <chart-axis-x axis-position="outer-center" axis-label="{{ctrl.drillDown.xLabel}}" axis-type="category" />
                <chart-axis-y axis-position="outer-middle" padding-top="50" padding-bottom="25" axis-label="{{ctrl.drillDown.yLabel}}" axis-type="category"
                />
            </chart-axis>
            <chart-legend legend-position="inset" />
        </c3chart>
    </div>
</div>