.wrapper {
    font-family: "source-sans-pro";
    .view-header {
        background-color: #272942;
        height: 60px;
        padding: 0px 25px;
        border: 0px;
        border-radius: 0px;
        p {
            color: #FFFFFF;
            font-size: 18px;
            line-height: 60px;
            display: inline-block;
        }
        .navbar-right {
            margin-top: 7px;
        }
        button {
            height: 36px;
            width: 140px;
            border-radius: 2px;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            border: none;
            margin: 5px;
            outline: none;
        }
    }
    .dashboard-view-header {
        margin-bottom: 0px;
        button {
            &.export {
                background: #757683;
            }
            &.settings,
            &.cancel {
                background: #196AE5;
            }
            &.delete {
                background: #CF4520;
            }
            &.save {
                background: #4CAF50;
            }
        }
        .dashboardNames {
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            max-width: 70%;
            div {
                display: inline-block;
                border-right: 1px solid #757683;
                position: relative;
                height: 60px;
                padding: 0px 10px;
                &:first-child {
                    p {
                        text-align: left;
                        padding-left: 0;
                    }
                    sup {
                        display: none;
                    }
                }
                &:last-of-type {
                    border-right: none;
                }
                sup {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: #CF4520;
                }
            }
            p {
                padding: 0 10px;
                cursor: pointer;
                &.active {
                    color: #F8CB00;
                }
            }
            span.glyphicon {
                color: #FFFFFF;
                border: 2px solid #FFFFFF;
                border-radius: 50%; // padding: 3px;
                width: 30px;
                height: 30px;
                line-height: 24px;
                cursor: pointer;
                top: 0px;
            }
        }
        .newDash {
            position: absolute;
            top: 12px;
            .title {
                color: #FFFFFF;
                font-size: 18px;
                padding-right: 15px
            }
            .error {
                color: red;
                padding: 0px 10px;
            }
            input {
                height: 36px;
                border-radius: 2px;
                width: 300px;
                font-size: 14px;
                &::-webkit-input-placeholder {
                    text-align: center;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    text-align: center;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    text-align: center;
                }
                &:-ms-input-placeholder {
                    text-align: center;
                }
            }
            button {
                width: 50px;
            }
        }
        .full-screen {
            color: #fff;
            padding: 7px 10px;
            cursor: pointer;
            font-size: 25px;
        }
        .config {
            color: #fff;
            padding: 5px 20px;
            cursor: pointer;
            font-size: 30px;
        }
    }
    .slider-panel {
        padding: 13px 145px 24px;
        background: #34495E;
        height: 230px;
        overflow: hidden;
        p.info {
            color: #C9C9CD;
            font-size: 13px;
            line-height: 21px;
            margin-bottom: 10px;
        }
        .slider-content {
            border: 1px dashed #757683;
            border-radius: 2px;
            position: relative;
            width: 93%;
            .carousel-inner {
                height: 150px;
                color: #fff;
                .slide {
                    width: 250px;
                    position: relative;
                    margin: 25px;
                    padding: 10px;
                    height: 100px;
                    border-radius: 2px;
                    float: left;
                    //cursor: pointer;
                    p {
                        text-align: left;
                    }
                    p.slide-title {
                        font-weight: bold;
                    }
                    .slide-toggle {
                        position: relative;
                        float: right;
                        top: -18px;
                        right: -18px;
                    }
                }
                .dark-slide {
                    background: #212338;
                }
                .light-slide {
                    background: #5D6D7E;
                }
            }
            .carousel-indicators {
                display: none;
            }
            a.left,
            a.right {
                background: none;
                width: 50px;
                position: relative;
                top: -80px;
                opacity: 1;
                span {
                    background: white;
                    border-radius: 50%;
                    z-index: 1000;
                    color: #000;
                    font-size: 16px;
                    padding: 7px;
                }
            }
            a.left {
                left: -30px;
                float: left;
            }
            a.right {
                right: -30px;
                float: right;
            }
            .addWidget {
                background-color: #196AE5;
                font-weight: bold;
                border-radius: 50%;
                width: 21px;
                cursor: pointer;
                vertical-align: middle;
                line-height: 20px;
                font-size: 18px;
            }
            .removeWidget {
                background-color: #CF4520;
                font-weight: bold;
                border-radius: 50%;
                width: 20px;
                cursor: pointer;
                vertical-align: middle;
                line-height: 20px;
            }
        }
    }
    .dashboard {
        overflow: hidden;
        padding: 20px 0;
        min-height: 1000px;
        column-gap: 0px;
        .widget-box {
            display: inline-block;
        }
        .draggable {
            cursor: move
        }
        .widget-wrapper {
            display: inline-block;
            height: 460px;
            padding: 20px;
            vertical-align: top;
            margin: 15px;
            width: 98%;
            position: relative;
            span.remove {
                position: absolute;
                top: -8px;
                right: -8px;
                background: #CF4520;
                height: 20px;
                line-height: 19px;
                border-radius: 50%;
                color: #FFFFFF;
                width: 20px;
                text-align: center;
                cursor: pointer;
            }
            .widget-buttons {
                float: right;
                i {
                    cursor: pointer;
                    color: #00BFFF;
                }
            }
            p.widget-heading {
                margin-bottom: 16px;
                color: #172A3A;
                font-size: 16px;
                font-weight: 600;
            }
            div {
                p.widget-subheading {
                    color: #196AE5;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 15px;
                    display: inline-block;
                }
                div.legend {
                    float: right;
                    div {
                        display: inline-block;
                        color: #757683;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    span {
                        height: 14px;
                        width: 14px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: bottom;
                        &.increase {
                            background: #F8CB00;
                        }
                        &.reduce {
                            background: #00629B;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .in-progress {
                text-align: center;
                margin-top: 100px;
                font-size: 50px;
                font-weight: bold;
                font-style: italic;
                color: #00629B;
            }
        }
        [data-widget="releaseStatus"] {
            div.release-legend {
                float: right;
                div {
                    display: inline-block;
                    color: #757683;
                    font-size: 12px;
                    line-height: 15px;
                    padding: 0px 5px;
                }
                span {
                    height: 14px;
                    width: 14px;
                    display: inline-block;
                    border-radius: 50%;
                    margin-right: 10px;
                    vertical-align: bottom;
                    &.on-track {
                        background: green;
                        margin-right: 5px;
                    }
                    &.off-track {
                        background: #E02500;
                        margin-right: 5px;
                    }
                    &.delay {
                        background: #F8CB00;
                        margin-right: 5px;
                    }
                }
            }
            .jira-details {
                padding: 0 0 15px;
                p {
                    height: 25px;
                    color: #757683;
                }
                div.version {
                    font-size: 13px;
                    padding: 5px 0px;
                    border-radius: 2px;
                    display: inline-block;
                    width: 80px;
                    text-align: center;
                }
                div.on-track {
                    color: #228B22;
                    border: 1px solid #228B22;
                }
                div.delay {
                    color: #F8CB00;
                    border: 1px solid #F8CB00;
                }
                div.off-track {
                    color: #E02500;
                    border: 1px solid #E02500;
                }
            }
            .functional-testing {
                padding: 0 0 10px;
                p {
                    height: 25px;
                    color: #757683;
                    margin: 0px;
                }
                table {
                    margin-top: 10px;
                    border: 1px solid #E7E8E9;
                    thead {
                        background: #F3F3F4;
                        th {
                            color: #172A3A;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: center;
                        }
                    }
                    .build {
                        border: 1px solid;
                        border-radius: 2px;
                        text-align: center;
                        font-size: 12px;
                        width: 100%;
                        max-width: 80px;
                        padding: 5px 0;
                        margin: 0 auto;
                        cursor: pointer;
                    }
                    .tests-result {
                        position: absolute;
                        padding: 20px 10px;
                        border: 1px solid;
                        border-radius: 10px;
                        background: #000;
                        z-index: 1000;
                        opacity: 0.9;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    .pass {
                        color: #4CAF50;
                    }
                    .fail {
                        color: #E02500;
                    }
                }
            }
            .release-mapping {
                padding: 0 0 10px;
                p {
                    height: 25px;
                    color: #757683;
                    margin: 0px;
                }
                table {
                    margin-top: 10px;
                    border: 1px solid #E7E8E9;
                    thead {
                        background: #F3F3F4;
                        th {
                            color: #172A3A;
                            font-size: 13px;
                            font-weight: 600;
                            text-align: center;
                        }
                    }
                    tbody {
                        tr {
                            td {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        [data-widget="pipelineTrend"] {
            div {
                p.widget-subheading {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 15px;
                    display: inline-block;
                }
                div.legend {
                    float: right;
                    div {
                        display: inline-block;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    span {
                        height: 14px;
                        width: 14px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: bottom;
                        &.increase {
                            background: #F8CB00;
                        }
                        &.reduce {
                            background: #00629B;
                            margin-left: 10px;
                        }
                    }
                }
            }
            ul {
                padding: 0px;
                margin-top: 30px;
                li {
                    display: inline-block;
                    width: 22%;
                    vertical-align: top;
                    height: 140px;
                    &:not(:last-child) {
                        border-right: 0.5px solid #DCDDDF;
                    }
                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                    p.trendName {
                        font-size: 12px;
                        line-height: 14px;
                        height: 40px;
                    }
                    div {
                        cursor: pointer;
                        p.frequencyValue {
                            font-size: 54px;
                            line-height: 68px;
                            margin: 0px;
                            //text-align: center;
                        }
                        p.frequency {
                            color: #196AE5;
                            font-size: 12px;
                            line-height: 15px;
                            text-align: center;
                            position: relative;
                            right: 13px;
                        }
                        span {
                            font-size: 25px;
                            &.glyphicon-arrow-up {
                                color: #F8CB00;
                            }
                            &.glyphicon-arrow-down {
                                color: #00629B
                            }
                        }
                        sup {
                            font-weight: 600;
                            font-size: 14px;
                            vertical-align: super;
                        }
                    }
                }
            }
        }
        [data-widget="qualityTrend"] {
            ul {
                padding: 0px;
                margin-top: 15px;
                li {
                    display: inline-block;
                    width: 30%;
                    vertical-align: top;
                    height: 335px;
                    &:not(:last-child) {
                        border-right: 0.5px solid #DCDDDF;
                    }
                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                    p.trendName {
                        font-size: 12px;
                        line-height: 14px;
                        height: 25px;
                    }
                    div {
                        cursor: pointer;
                        p.type {
                            font-size: 12px;
                            line-height: 15px;
                            height: 15px;
                        }
                        p.frequencyValue {
                            font-size: 44px;
                            line-height: 68px;
                        }
                        span {
                            font-size: 25px;
                            &.glyphicon-arrow-up {
                                color: #F8CB00;
                            }
                            &.glyphicon-arrow-down {
                                color: #00629B
                            }
                        }
                        sup {
                            font-weight: 600;
                            font-size: 14px;
                            vertical-align: super;
                        }
                    }
                }
            }
        }
        [data-widget="productionReporting"] {
            p.sub-header {
                font-weight: bold;
                color: #00BFFF;
                padding-top: 10px;
            }
            ul {
                padding: 0px;
                margin-top: 15px;
                li:first-child {
                    width: 15%;
                }
                li {
                    display: inline-block;
                    width: 25%;
                    vertical-align: top;
                    height: 200px;
                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                    p.trendName {
                        font-size: 12px;
                        line-height: 14px;
                        height: 10px;
                    }
                    div {
                        height: 60px;
                        p.type {
                            font-size: 12px;
                            padding-top: 25px;
                        }
                        p.frequencyValue {
                            font-size: 44px;
                            margin: 0px;
                            cursor: pointer;
                        }
                        span {
                            font-size: 25px;
                            &.glyphicon-arrow-up {
                                color: #F8CB00;
                            }
                            &.glyphicon-arrow-down {
                                color: #00629B
                            }
                        }
                        sup {
                            font-weight: 600;
                            font-size: 14px;
                            vertical-align: super;
                        }
                    }
                    .popover {
                        height: auto;
                        div {
                            height: auto;
                        }
                        span.previous-month {
                            font-size: 14px;
                            span.month-value {
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            ul.logs {
                li {
                    //text-align: center;
                    width: 25%;
                    margin: 0px;
                    margin-left: 10px;
                    height: 65px;
                    p {
                        margin: 0px;
                    }
                    div {
                        p {
                            font-size: 40px;
                        }
                    }
                }
                li:first-child {
                    margin: 0px;
                }
            }
        }
        .light-widget {
            background-color: #FFFFFF;
            box-shadow: 0 4px 10px 0 #D1D4D7;
            p.widget-heading {
                color: #172A3A;
            }
            div {
                p.widget-subheading {
                    color: #196AE5;
                }
                div.legend {
                    div {
                        color: #757683;
                    }
                }
            }
            ul {
                li {
                    &:not(:last-child) {
                        border-right: 0.5px solid #DCDDDF;
                    }
                    p.trendName {
                        color: #757683;
                    }
                    p.type {
                        color: #196AE5;
                    }
                    p.frequencyValue {
                        color: #212338;
                    }
                    p.frequency {
                        color: #196AE5;
                    }
                }
            }
        }
        .dark-widget {
            background-color: #000000;
            box-shadow: 0 4px 10px 0 #4c4c4c;
            p.widget-heading {
                color: #00BFFF;
            }
            div {
                p.widget-subheading {
                    color: #98FB98;
                }
                div.legend,
                div.release-legend {
                    div {
                        color: #FFFFFF;
                    }
                }
            }
            ul {
                li {
                    &:not(:last-child) {
                        border-right: 0.5px solid #DCDDDF;
                    }
                    p.trendName {
                        color: #AF7AC5;
                    }
                    p.type {
                        color: #EDBB99;
                    }
                    p.frequencyValue {
                        color: #FFFFFF;
                    }
                    p.frequency {
                        color: #196AE5;
                    }
                }
            }
            .jira-details,
            .functional-testing,
            .release-mapping {
                p {
                    color: #AF7AC5;
                }
            }
            .functional-testing,
            .release-mapping {
                table {
                    border: 1px solid #E7E8E9;
                    thead {
                        background: #000000;
                        th {
                            color: #F8CB00;
                        }
                    }
                }
            }
            .release-mapping {
                table {
                    tbody {
                        tr {
                            td {
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }
    .light {
        background: #E8E8E9;
    }
    .dark {
        background: #323232;
    }
    .column-1 {
        .widget-box {
            width: 100%;
        }
    }
    .column-2 {
        .widget-box {
            width: 49%;
        }
    }
    .column-3 {
        .widget-box {
            width: 32.5%;
        }
        [data-widget="pipelineTrend"],
        [data-widget="qualityTrend"] {
            ul {
                li {
                    div {
                        p.frequencyValue {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
        [data-widget="productionReporting"] {
            ul {
                li {
                    div {
                        p.type {
                            padding-top: 13px;
                        }
                        p.frequencyValue {
                            font-size: 30px;
                        }
                    }
                }
            }
            ul.logs {
                li {
                    height: 55px;
                    font-size: 12px;
                    width: 31%;
                }
            }
        }
    }
}

.dashboard-configuration {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .config-panel {
        padding: 25px;
        padding-bottom: 0px;
        .title {
            font-weight: bold;
            font-size: 16px;
            padding: 10px 20px;
            background-color: #F0F8FF;
        }
        .list {
            ul {
                list-style-type: none;
                padding: 10px;
                li {
                    padding: 10px 0px;
                    input[type="radio"] {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .buttons {
        text-align: center;
        a,
        button {
            width: 75px;
        }
    }
}

.drill-down {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 20px;
            font-weight: bold;
        }
    }
    .drill-down-wrapper {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        div.drill-down-header {
            display: inline-block;
            padding-right: 25px;
            p.sub-heading {
                font-size: 12px;
                font-weight: bold;
                margin-bottom: 0px;
            }
            p.frequencyValue {
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 0px;
                color: #757683;
                span.percent {
                    font-size: 30px;
                }
                span {
                    font-size: 20px;
                    color: #000;
                }
            }
            p.frequency {
                font-size: 12px;
                font-weight: bold;
            }
            select {
                float: right;
                top: 100px;
                position: absolute;
                right: 20px;
                width: 100px;
            }
        }
        table.version-data {
            width: 100%;
            tr {
                th {
                    width: 20%;
                    padding-bottom: 10px;
                }
                td {
                    font-weight: bold;
                    padding: 10px 0;
                    color: #757683;
                }
                td:first-child {
                    color: #000;
                }
            }
        }
        .deployment-list-wrapper {
            margin-top: 20px;
            p {
                font-size: 20px;
                font-weight: bold;
            }
            ul {
                list-style-type: none;
                padding: 0px;
                li {
                    padding: 10px 0;
                    font-size: 15px;
                    color: #757683;
                    border-bottom: 1px solid #e5e5e5;
                    width: 50%;
                }
            }
        }
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .widget-wrapper {
        float: left;
    }
}