/* app css stylesheet */

.navMain {
    margin: 0px;
    background-color: #172A3A;
    border-radius: 0px;
    border: 0px;
    .navbar-brand,
    .navbar-brand:hover {
        color: #FFFFFF;
    }
    .open {
        a.menu,
        a.menu:hover {
            background: #2E4053!important;
        }
        .dropdown-menu {
            background: #34495E!important;
            a {
                color: #FFFFFF;
            }
            a:hover {
                background: #172A3A!important;
            }
        }
    }
    .menu {
        color: #FFFFFF!important;
        font-size: 14px;
        padding: 15px 20px;
        &:hover {
            background: #2E4053!important;
        }
    }
    .active {
        background: #2E4053!important;
    }
}

.noMargin {
    margin: 0px!important;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.no-loader {
    display: none!important;
}

.transparent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
}

select {
    font-size: 13px;
    width: 200px;
    height: 30px;
}

input[type='text'],
input[type='number'] {
    font-size: 13px;
    height: 30px;
    padding: 2px 5px;
}

textarea {
    font-size: 13px;
    width: 500px;
    height: 75px;
    padding: 5px;
}

.buttonList {
    list-style: none;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.buttonList>li {
    padding: 20px;
}

.buttonList>li>a {
    width: 175px;
}

.content {
    padding-top: 25px;
    min-height: 850px;
}

.headerText {
    font-size: 30px;
}

.alertMessage {
    font-size: 13px;
    padding: 5px 10px;
    margin: 5px 10px;
    width: 50%;
}

.formAlert {
    font-size: 13px;
    padding: 5px;
    width: 200px;
    position: absolute;
    z-index: 1;
}

.closeButton {
    float: right;
    cursor: pointer;
}

.btn-green,
.btn-green:hover,
.btn-green:visited {
    background: #4CAF50!important;
    border: 1px solid #4CAF50!important;
}


/* Login Screen */

.loginContainer {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #1C2833;
    box-shadow: 0 4px 10px 0 #000;
    .loginHeading {
        text-align: center;
        padding-bottom: 20px;
        font-size: 24px;
        color: #FFFFFF;
    }
    .loginError {
        text-align: center;
        padding: 5px;
        color: red;
        font-size: 13px;
        background-color: pink;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    img {
        width: 70px;
        height: 185px;
        display: block;
        margin: 0 auto 125px;
    }
    .btn-default:hover a {
        color: #196AE5;
    }
    #emailInput,
    #passwordInput {
        height: 46px;
        border-radius: 2px;
        background-color: #FFFFFF;
        margin-bottom: 16px;
    }
    label {
        font-size: 14px;
        text-align: left;
        line-height: 21px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
        color: #FFFFFF;
    }
    .checkbox label {
        color: #FFFFFF;
        font-size: 12px;
        text-transform: none;
        letter-spacing: 0px;
    }
    button span {
        position: absolute;
        top: 12px;
        left: 38%;
    }
    a.forgot {
        text-align: center;
        text-decoration: none;
        margin-top: 20px;
        display: block;
        color: #FFFFFF;
    }
    .btn-login {
        font-weight: bold;
        width: 100%;
    }
}


/* Assessment screen */

.question {
    margin: 25px 10px;
    padding: 20px;
    background-color: #A9CCE3;
    color: #154360;
    //box-shadow: 0 4px 10px 0 #000;
    input,
    textarea,
    select {
        color: #000000;
    }
    .verticalSpace {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .removeDiv {
        position: relative;
        float: right;
        top: 10px;
        z-index: 1000;
    }
}

.questionSelection {
    padding-top: 50px;
    padding-left: 30px;
}

.questionNumber {
    margin: 25px 0px;
    padding: 25px 10px;
    width: 50px;
}

.listing {
    padding-top: 20px;
    padding-bottom: 20px;
}

.manage-assessments,
.manage-feedback {
    padding: 20px 10px;
    background-color: #212F3D;
    border-radius: 4px;
    margin-top: 20px;
    color: #fff;
    box-shadow: 0 4px 10px 0 #000;
    .title {
        padding: 5px 15px;
        font-size: 16px;
    }
    .delete {
        color: #E74C3C;
        cursor: pointer;
        width: auto;
        padding-right: 0px;
    }
    .edit {
        color: #3498DB;
        cursor: pointer;
        width: auto;
        padding-top: 2px;
        padding-right: 0px;
    }
    .report {
        color: #4CAF50;
        cursor: pointer;
        width: auto;
        padding-top: 2px;
        padding-right: 0px;
    }
}

.take-assessment,
.assessment-report {
    div.select-assessment {
        //border: 1px solid #e7e7e7;
        padding: 20px;
        border-radius: 4px;
        background: #212F3C;
        box-shadow: 0 4px 10px 0 #000;
        span.select-label {
            font-size: 16px;
            font-weight: bold;
            padding-right: 15px;
            color: #FFFFFF;
        }
    }
    div.assessment-title {
        padding-left: 0px;
        font-size: 20px;
        font-weight: bold;
        color: #212F3C;
    }
    .legend-group {
        display: inline-block;
        margin: 0 10px;
        .legend-color {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
            width: 20px;
            height: 20px;
            display: inline-block;
            &.gt-70 {
                background-color: #5cb85c;
            }
            &.between-range {
                background-color: #f0ad4e;
            }
            &.lt-30 {
                background-color: #d9534f;
            }
        }
        .legend-value {
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 5px;
        }
    }
}

.assessment-report {
    .assessment-score {
        padding: 0px 35px;
        font-weight: bold;
        font-size: 16px;
    }
    .report-sheet {
        margin-top: 10px;
        padding: 15px;
        .report-row {
            padding: 0px;
            .section-box,
            .heading-box {
                height: 175px;
                margin: 2px;
                border-radius: 4px;
            }
            .empty-box {
                width: 250px;
                height: 50px;
                margin: 2px;
            }
            .level-box {
                width: 170px;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                height: 50px;
                padding-top: 15px;
                background: #082F4E;
                color: #FFFFFF;
                margin: 2px;
                border-radius: 4px;
            }
            .section-box {
                font-weight: bold;
                padding: 0px 5px;
                background: #95A5A6;
                padding-top: 70px;
                width: 250px;
                text-align: center;
            }
            .heading-box {
                padding: 0px;
                font-size: 12px;
                font-weight: bold;
                width: 170px;
                background: #537E85;
                color: #FFFFFF;
                .progress {
                    margin-bottom: 0px;
                    .progress-bar {
                        color: #000000;
                    }
                }
                ul {
                    padding: 10px 5px;
                    list-style-type: none;
                    li {
                        padding-bottom: 5px;
                    }
                }
            }
        }
        .report-row:nth-of-type(even) {
            .section-box {
                background: #273746;
                color: #FFFFFF;
            }
            .heading-box:nth-child(even) {
                background: #CBF1F7;
                color: #000000;
            }
        }
        .report-row:nth-of-type(odd) {
            .heading-box:nth-child(odd) {
                background: #CBF1F7;
                color: #000000;
            }
        }
    }
}

.select-question {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .questions {
        max-height: 600px;
        overflow-y: auto;
    }
    .buttons {
        text-align: center;
        padding-top: 15px;
        a,
        button {
            width: 75px;
        }
    }
}

.view-feedback {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .assessment {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        .section {
            display: inline-block;
            width: 100%;
            .activity{
                display: inline-block;
                width: 100%;
            }
            .level {
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.assessmentList,
.optionList {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.assessmentList li {
    padding: 5px 10px;
}

.optionList li {
    padding: 3px 0px;
}

.widget {
    margin: 25px;
    border: 1px solid lightgray;
    padding: 85px 135px;
    height: 200px;
}

.section {
    background: #2471A3;
    padding: 10px 20px;
    margin: 20px 0px;
    box-shadow: 0 4px 10px 0 #154360;
    .labelText {
        color: #FFFFFF;
    }
    .activity {
        .key-findings {
            p {
                font-weight: bold;
            }
            textarea {
                width: 75%;
                color: #000000;
            }
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px dashed #FFFFFF;
            color: #FFFFFF;
        }
        p {
            font-weight: bold;
        }
        div {
            padding: 5px 0px;
        }
        background-color: #5499C7;
        padding: 10px 25px;
        margin: 20px 0px;
        font-size: 13px;
        color: #FFFFFF;
    }
    .removeDiv {
        position: relative;
        float: right;
        top: 15px;
        z-index: 1000;
    }
    .stakeholder-interviews {
        p {
            font-weight: bold;
        }
        textarea {
            width: 75%;
        }
        padding-left: 15px;
        padding-top: 10px;
        color: #FFFFFF;
    }
}

.level {
    background-color: #5499C7;
    padding: 10px 25px;
    margin: 20px 0px;
    .labelText {
        color: #FFFFFF;
    }
    .key-findings {
        p {
            font-weight: bold;
        }
        textarea {
            width: 75%;
            color: #000000;
        }
        padding-left: 15px;
        padding-top: 10px;
        border-top: 1px dashed #FFFFFF;
        color: #FFFFFF;
    }
}

.heading {
    background-color: #7FB3D5;
    padding: 10px 25px;
    margin: 20px 0px;
    .removeQuestion {
        width: 135px;
        padding: 75px 10px;
    }
}

.labelText {
    width: 135px;
    padding: 5px 20px;
    font-weight: bold;
}

.questionForm {
    .sub-label {
        font-weight: bold;
    }
    .labelText {
        width: 150px;
        padding: 2px 10px;
    }
}

.black-button {
    background-color: #000000;
    color: #ffffff;
}

.btnBorder {
    border: 1px solid #0275d8
}

.question,
.section,
.level,
.heading,
.widget,
.activity {
    border-radius: 4px;
}

.bold-font {
    font-weight: bold;
    padding-top: 10px;
    color: #fff;
}

.addLink {
    padding: 10px 5px;
}

.confirm-delete {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .message-text {
        padding: 25px 0px;
    }
    .buttons {
        a,
        button {
            width: 75px;
        }
    }
}

.info-box {
    padding: 15px;
    .message-text {
        padding: 15px 0px;
        text-align: center;
    }
    button {
        width: 55px;
    }
}