<p class="widget-heading">Development Pipeline Trend</p>
<div>
  <p class="widget-subheading">Year to Date 2017</p>
  <div class="legend">
    <div><span class="increase"></span>Increased</div>
    <div><span class="reduce"></span>Reduced</div>
  </div>
  <ul>
    <li ng-repeat="data in pipelineTrendData">
      <p class="trendName">{{data.name}}</p>
      <div>
        <p class="frequencyValue">{{data.frequencyValue}}<sup>{{data.symbol}}</sup><span class="glyphicon" ng-class="{'glyphicon-arrow-up' : data.trend === 'up', 'glyphicon-arrow-down' : data.trend === 'down'}"></span></p>
        <p class="frequency">{{data.frequency}} </p>

      </div>

    </li>
  </ul>
</div>
<span class="remove" ng-show="edit">&minus;</span>
