<p class="widget-heading">Quality Trend</p>
<div>
  <p class="widget-subheading">Monthly</p>
  <div class="legend">
    <div><span class="increase"></span>Increased</div>
    <div><span class="reduce"></span>Reduced</div>
  </div>
  <ul>
    <li ng-repeat="data in qualityTrendData">
      <p class="trendName">{{data.name}}</p>
      <div>
        <p class="type">{{data.type1}} </p>
        <p class="frequencyValue">{{data.frequencyValue1}}<sup>{{data.symbol}}</sup><span class="glyphicon" ng-class="{'glyphicon-arrow-up' : data.trend1 === 'up', 'glyphicon-arrow-down' : data.trend1 === 'down'}"></span></p>

      </div>
      <div>
        <p class="type">{{data.type2}} </p>
        <p class="frequencyValue">{{data.frequencyValue2}}<sup>{{data.symbol}}</sup><span class="glyphicon" ng-class="{'glyphicon-arrow-up' : data.trend2 === 'up', 'glyphicon-arrow-down' : data.trend2 === 'down'}"></span></p>

      </div>

    </li>
  </ul>
</div>
<span class="remove" ng-show="edit">&minus;</span>
