<p class="widget-heading">Release Status</p>
<div class="table-responsive">
  <table class="table">
    <thead>
      <th>DETAILS</th>
      <th>DEV</th>
      <th>SIT</th>
      <th>UAT</th>
      <th>PRE PROD</th>
    </thead>
    <tbody>
      <tr ng-repeat="data in releaseData">
        <td class="release">{{data.release}}</td>
        <td>
          <div ng-class="{done: data.dev ==='Done', inProgress: data.dev === 'In Progress', awaiting: data.dev === 'Awaiting', stalled: data.dev === 'Stalled'}">{{data.dev}}</div>
        </td>
        <td>
          <div ng-class="{done: data.sit ==='Done', inProgress: data.sit === 'In Progress', awaiting: data.sit === 'Awaiting', stalled: data.sit === 'Stalled'}">{{data.sit}}</div>
        </td>
        <td>
          <div ng-class="{done: data.uat ==='Done', inProgress: data.uat === 'In Progress', awaiting: data.uat === 'Awaiting', stalled: data.uat === 'Stalled'}">{{data.uat}}</div>
        </td>
        <td>
          <div ng-class="{done: data.preProd ==='Done', inProgress: data.preProd === 'In Progress', awaiting: data.preProd === 'Awaiting', stalled: data.preProd === 'Stalled'}">{{data.preProd}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<span class="remove" ng-show="edit">&minus;</span>
