<div ng-include src="'../../views/header.html'"></div>
<div class="wrapper">
  <div class="view-header dashboard-view-header navbar navbar-default">
    <div class="dashboardNames" ng-class="{blurAdd : newDashboard}">
      <div ng-repeat="data in dashboardData">
        <p data-dashboard="{{data.name}}" ng-click="selectDashboard($index)">{{data.name}}
        </p>
      <sup ng-show="edit">X</sup>
      </div>
      <span class="glyphicon glyphicon-plus" ng-click="newDashboard = !newDashboard" ng-show="!newDashboard"></span>
    </div>
    <div class="newDash form-group" ng-show="newDashboard">
      <input type="text" name="" value="" ng-model="newDashboardName" placeholder="Enter the new Dashboard Name" required>
      <button class="btn btn-success" ng-click="saveDashboard(newDashboardName); newDashboard = !newDashboard" ng-disabled="!newDashboardName.length"><span class="glyphicon glyphicon-ok"></span></button>
      <button class="btn btn-danger" ng-click="newDashboard = !newDashboard"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <ul class="nav navbar-nav navbar-right" ng-show="!edit">
      <li><button type="" class="export">Export Report</button></li>
      <li><button type="" class="settings" ng-click="edit=!edit; enableDrag();">Settings</button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="edit">
      <li><button type="" class="cancel" ng-click="edit=!edit; revertWidgets();">Cancel</button></li>
      <li><button type="" class="save" ng-click="edit=!edit; enableDrag(); saveOrder()">Save & Finish</button></li>
    </ul>
  </div>
  <div class="slider-content" ng-show="edit">
    <p class="info">You have {{numOfWidgets}} widgets selected on your dashboard</p>
    <div class="owl-carousel">
      <div class="slide active" ng-repeat="slide in slideData" data-widget="{{slide.dataWidget}}">
        <h2>{{slide.name}}</h2>
        <p>{{slide.details}}</p>
      </div>
    </div>
  </div>
  <div class="dashboard">
    <div class="dashboard-wrapper sortable" data-dashboard="{{data.name}}" ng-repeat="data in dashboardData">
    </div>
  </div>
</div>
<div ng-include src="'../../views/footer.html'"></div>