<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
        <li class="logo">
          <img src="../../images/dash_logo.png" alt="">
          <small>Ness Smart</small>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-controller="MainCtrl">
        <li><span class="glyphicon glyphicon-bell bell"></span></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user user"></span>{{addonData.userName}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!--<li><a href="">{{addonData.userName}}</a></li>-->
            <li><a href="">Help</a></li>
            <li><a ui-sref="login">Logout</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">{{addonData.version}}</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>