<div class="loginContainer">
  <img src="images/Logo.png" alt="Ness Smart Logo">
  <form>
    <div class="form-group">
      <label for="emailInput">Email address</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="passwordInput">Password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Password">
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox"> Remember me
    </label>
    </div>
    <button type="submit" class="btn btn-default" ui-sref='dashboard'><span class="glyphicon glyphicon-log-in"></span>Login</button>
    <a href="#" class="forgot">Forgot Password?</a>
  </form>
</div>