<div ng-include src="'../../views/header.html'"></div>
<div class="wrapper">
  <div class="view-header navbar navbar-default">
    <p>Project Manager</p>
    <ul class="nav navbar-nav navbar-right" ng-show="!create">
      <li><button type="" class="export" ng-click="create=!create">Create new</button></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="create">
      <li><button type="" class="cancel" ng-click="create=!create">Cancel</button></li>
      <li><button type="" class="save" ng-click="create=!create">Save & Finish</button></li>
    </ul>
  </div>
  <div class="form-horizontal form-container" ng-show="create">
    <ul class="breadcrumb">
      <li>Project Details</li>
      <li>Tools</li>
      <li class="active">Accessories</li>
    </ul>
    <div class="form-group">
      <label for="project" class="col-sm-2 control-label">Project Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="project" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="sel1" class="col-sm-2 control-label">Methodology</label>
      <div class="col-sm-10">
        <select class="form-control" id="sel1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
      </div>
    </div>
    <div class="form-group">
      <label for="lead" class="col-sm-2 control-label">Project Lead</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lead" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="count" class="col-sm-2 control-label">Head Count</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="count" placeholder="Password">
      </div>
    </div>
  </div>
</div>
<!--<div class="content-wrapper">content goes here</div>-->
<div ng-include src="'../../views/footer.html'"></div>
