<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>NessSMART</title>
    <link rel="stylesheet" href="styles.css"></link>
    <script src="https://use.typekit.net/fzj4plm.js"></script>
</head>

<body>
    <nav id="primaryNav" class="navbar navbar-default navMain">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"><i>NessSMART</i></a>
            </div>
            <div id="navigationLinks">
                <ul class="nav navbar-nav">
                    <li id="lnkHome" onclick="setActive('lnkHome')"><a class="nav-item nav-link menu" ui-sref-active="active" ui-sref="home">Home</a></li>
                    <li id="lnkAssessment" class="dropdown">
                        <a class="dropdown-toggle menu" data-toggle="dropdown" href="#">Assessment <span class="caret"></span></a>
                        <ul class="dropdown-menu" onclick="setActive('lnkAssessment')">
                            <li><a ui-sref="assessment.takeAssessment">Take Assessment</a></li>
                            <li><a ui-sref="assessment.manageFeedback">Manage Feedback</a></li>
                        </ul>
                    </li>
                    <li id="lnkAdmin" class="dropdown">
                        <a class="dropdown-toggle menu" data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
                        <ul class="dropdown-menu" onclick="setActive('lnkAdmin')">
                            <li><a ui-sref="admin.questionBank">Question Bank</a></li>
                            <li><a ui-sref="admin.createAssessment">Create Assessment</a></li>
                            <li><a ui-sref="admin.manageAssessments">Manage Assessments</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle menu" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{currentUser.fullName}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a>Settings</a></li>
                            <li><a>Change Password</a></li>
                            <li><a ui-sref="login">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="background: #EAF2F8;">
        <ui-view></ui-view>
    </div>
    <div id="loader" class="transparent">
        <div class="loader">
            <i class="fa fa-spinner fa-spin fa-5x" aria-hidden="true"></i>
        </div>
    </div>
    <script src="main.js"></script>
</body>
<script type="text/javascript">
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}

    var setActive = function(id) {
        $(".nav li a").removeClass("active");
        $('#' + id + ' a').addClass("active");
    };
</script>
<script src="lib/c3.min.js"></script>
<script src="lib/d3.min.js"></script>

</html>