<div class="confirm-delete">
    <div class="row modal-header">
        <div class="col-lg-8 title">
            <span>Confirm Delete</span>
        </div>
    </div>
    <div class="message-text">{{ctrl.message}}</div>
    <div class="buttons" align="center">
        <button class="btn btn-primary" ng-click="ctrl.yes()">Yes</button>
        <a href="javascript:void(0)" class="btn" ng-click="ctrl.no()" style="border: 1px solid #2e6da4">No</a>
    </div>
</div>