<div class="container content">
    <div class="loginContainer">
        <div class="loginHeading">Login</div>
        <div class="loginError" ng-if="ctrl.showError">Invalid Credentials</div>
        <form name="loginForm" ng-submit="ctrl.validateUser(this.loginForm)" novalidate>
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="ctrl.email" required>
                <span ng-if="ctrl.submitted">
                <span class="alert alert-danger formAlert" ng-show="loginForm.email.$error.required">Email is required.</span>
                <span class="alert alert-danger formAlert" ng-show="loginForm.email.$error.email">Invalid email address.</span>
                </span>
            </div>
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="ctrl.password" required>
                <span ng-if="ctrl.submitted">
                <span class="alert alert-danger formAlert" ng-show="loginForm.password.$error.required">Password is required.</span>
                </span>
            </div>
            <div class="checkbox">
                <label>
                <input type="checkbox"> Remember me
            </label>
            </div>
            <button type="submit" class="btn btn-primary btn-login">Login</button>
            <a href="#" class="forgot">Forgot Password?</a>
        </form>
    </div>
</div>