.wrapper {
    font-family: "source-sans-pro";
    .view-header {
        background-color: #272942;
        height: 60px;
        padding: 0px 25px;
        border: 0px;
        border-radius: 0px;
        p {
            color: #FFFFFF;
            font-size: 18px;
            line-height: 60px;
            display: inline-block;
        }
        .navbar-right {
            margin-top: 7px;
        }
        button {
            height: 36px;
            width: 140px;
            border-radius: 2px;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            border: none;
            margin: 5px;
            outline: none;
        }
    }
    .dashboard-view-header {
        margin-bottom: 0px;
        button {
            &.export {
                background: #757683;
            }
            &.settings,
            &.cancel {
                background: #196AE5;
            }
            &.delete {
                background: #CF4520;
            }
            &.save {
                background: #4CAF50;
            }
        }
        .dashboardNames {
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            max-width: 70%;
            div {
                display: inline-block;
                border-right: 1px solid #757683;
                position: relative;
                height: 60px;
                padding: 0px 10px;
                &:first-child {
                    p {
                        text-align: left;
                        padding-left: 0;
                    }
                    sup {
                        display: none;
                    }
                }
                &:last-of-type {
                    border-right: none;
                }
                sup {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: #CF4520;
                }
            }
            p {
                padding: 0 10px;
                cursor: pointer;
                &.active {
                    color: #F8CB00;
                }
            }
            span.glyphicon {
                color: #FFFFFF;
                border: 2px solid #FFFFFF;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                line-height: 24px;
                cursor: pointer;
                top: 0px;
            }
        }
        .newDash {
            position: absolute;
            top: 12px;
            .title {
                color: #FFFFFF;
                font-size: 18px;
                padding-right: 15px
            }
            .error {
                color: red;
                padding: 0px 10px;
            }
            input {
                height: 36px;
                border-radius: 2px;
                width: 300px;
                font-size: 14px;
                &::-webkit-input-placeholder {
                    text-align: center;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    text-align: center;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    text-align: center;
                }
                &:-ms-input-placeholder {
                    text-align: center;
                }
            }
            button {
                width: 50px;
            }
        }
        .full-screen {
            color: #fff;
            padding: 7px 10px;
            cursor: pointer;
            font-size: 25px;
        }
        .config {
            color: #fff;
            padding: 5px 20px;
            cursor: pointer;
            font-size: 30px;
        }
    }
    .slider-panel {
        padding: 13px 145px 24px;
        background: #34495E;
        height: 230px;
        overflow: hidden;
        p.info {
            color: #C9C9CD;
            font-size: 13px;
            line-height: 21px;
            margin-bottom: 10px;
        }
        .slider-content {
            border: 1px dashed #757683;
            border-radius: 2px;
            position: relative;
            width: 93%;
            .carousel-inner {
                height: 150px;
                color: #fff;
                .slide {
                    width: 250px;
                    position: relative;
                    margin: 25px;
                    padding: 10px;
                    height: 100px;
                    border-radius: 2px;
                    float: left;
                    p {
                        text-align: left;
                    }
                    p.slide-title {
                        font-weight: bold;
                    }
                    .slide-toggle {
                        position: relative;
                        float: right;
                        top: -18px;
                        right: -18px;
                    }
                }
                .dark-slide {
                    background: #212338;
                }
                .light-slide {
                    background: #5D6D7E;
                }
            }
            .carousel-indicators {
                display: none;
            }
            a.left,
            a.right {
                background: none;
                width: 50px;
                position: relative;
                top: -80px;
                opacity: 1;
                span {
                    background: white;
                    border-radius: 50%;
                    z-index: 1000;
                    color: #000;
                    font-size: 16px;
                    padding: 7px;
                }
            }
            a.left {
                left: -30px;
                float: left;
            }
            a.right {
                right: -30px;
                float: right;
            }
            .addWidget {
                background-color: #196AE5;
                font-weight: bold;
                border-radius: 50%;
                width: 21px;
                cursor: pointer;
                vertical-align: middle;
                line-height: 20px;
                font-size: 18px;
            }
            .removeWidget {
                background-color: #CF4520;
                font-weight: bold;
                border-radius: 50%;
                width: 20px;
                cursor: pointer;
                vertical-align: middle;
                line-height: 20px;
            }
        }
    }
    .dashboard {
        overflow: hidden;
        padding: 20px 0;
        min-height: 1000px;
        column-gap: 0px;
        .widget-box {
            display: inline-block;
        }
        .draggable {
            cursor: move
        }
        .widget-wrapper {
            display: inline-block;
            height: 450px;
            padding: 20px;
            vertical-align: top;
            margin: 15px;
            width: 98%;
            position: relative;
            span.remove {
                position: absolute;
                top: -8px;
                right: -8px;
                background: #CF4520;
                height: 20px;
                line-height: 19px;
                border-radius: 50%;
                color: #FFFFFF;
                width: 20px;
                text-align: center;
                cursor: pointer;
            }
        }
        .light-widget {
            background-color: #FFFFFF;
            box-shadow: 0 4px 10px 0 #D1D4D7;
        }
        .dark-widget {
            background-color: #000000;
            box-shadow: 0 4px 10px 0 #4c4c4c;
        }
    }
    .light {
        background: #E8E8E9;
    }
    .dark {
        background: #323232;
    }
    .column-1 {
        .widget-box {
            width: 100%;
        }
    }
    .column-2 {
        .widget-box {
            width: 49%;
        }
    }
    .column-3 {
        .widget-box {
            width: 32.5%;
        }
    }
}

.dashboard-configuration {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .config-panel {
        padding: 25px;
        padding-bottom: 0px;
        .title {
            font-weight: bold;
            font-size: 16px;
            padding: 10px 20px;
            background-color: #F0F8FF;
        }
        .list {
            ul {
                list-style-type: none;
                padding: 10px;
                li {
                    padding: 10px 0px;
                    input[type="radio"] {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .buttons {
        text-align: center;
        a,
        button {
            width: 75px;
        }
    }
}

.confirm-delete {
    padding: 25px;
    .modal-header {
        padding: 20px 5px;
        padding-top: 0px;
        .title {
            font-size: 25px;
            font-weight: bold;
        }
    }
    .message-text {
        padding: 25px 0px;
    }
    .buttons {
        a,
        button {
            width: 75px;
        }
    }
}

.info-box {
    padding: 15px;
    .message-text {
        padding: 15px 0px;
        text-align: center;
    }
    button {
        width: 55px;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .widget-wrapper {
        float: left;
    }
}