<div class="container content">
    <form name="questionForm" class="questionForm" ng-submit="ctrl.saveQuestions(this.questionForm)" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <span class="headerText" style="margin-left: 15px;">Add Question(s)</span>
            </div>
            <div class="col-lg-6" align="right" style="padding-right: 25px;">
                <a class="btn btnBorder" ui-sref="admin.questionBank">Cancel</a>
                <button type="submit" class="btn btn-primary " href="javascript:void(0) ">Save Questions</button>
            </div>
        </div>
        <div class="clearfix "></div>
        <div ng-if="ctrl.showError" class="alert alert-danger alertMessage">All fields are mandatory
            <span class="closeButton" ng-click="ctrl.showError=false"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="row question " ng-repeat="question in ctrl.questionList track by $index ">
            <div class="removeDiv " ng-if="ctrl.questionList.length> 1">
                <a href="javascript:void(0)" ng-click="ctrl.removeQuestion(question)" style="color: #8E3927;"><i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</a>
            </div>
            <!--<div class="row col-lg-12 verticalSpace">
                <div class="col-lg-2">Project Type :</div>
                <div class="col-lg-10">
                    <select ng-model="question.projectType" ng-init="question.projectType = 'Development'">
                    <option value="Development">Development</option>
                    <option value="Testing">Testing</option>
                    <option value="Project Management">Project Management</option>
                    <option value="Deployment">Deployment</option>
                </select>
                </div>
            </div>-->
            <div class="row col-lg-12 verticalSpace">
                <div class="col-lg-2 labelText">Question Type :</div>
                <div class="col-lg-10">
                    <select ng-model="question.questionType" ng-init="question.questionType = '1'">
                    <option value="1">Single Select</option>
                    <option value="2">Multi Select</option>
                    <option value="3">Open Text</option>
                </select>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row col-lg-12 verticalSpace">
                <div class="col-lg-2 labelText">Question Tag :</div>
                <div class="col-lg-10">
                    <input type="text" ng-model="question.questionTag" style="width: 200px;" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row col-lg-12 verticalSpace">
                <div class="col-lg-2 labelText">Question Text :</div>
                <div class="col-lg-10">
                    <textarea ng-model="question.questionText" name="questionText_{{$index + 1}}" required></textarea>
                    <div ng-show="ctrl.submitted">
                        <span class="alert alert-danger formAlert" ng-show="questionForm.questionText_{{$index + 1}}.$error.required">Question text is required.</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row col-lg-12 verticalSpace" ng-if="question.questionType !== '3'">
                <div class="col-lg-2 labelText">Options :</div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-4 sub-label">
                            Text
                        </div>
                        <div class="col-lg-1 sub-label">
                            Weight
                        </div>
                        <div class="col-lg-1 sub-label">
                            Score
                        </div>
                    </div>
                    <div class="row" ng-repeat="option in question.options" style="padding: 5px 0px">
                        <div class="col-lg-4">
                            <input type="text" ng-model="option.optionText" name="optionText_{{$parent.$index + 1}}_{{$index + 1}}" style="width: 250px;" required/>
                            <div ng-show="ctrl.submitted">
                                <span class="alert alert-danger formAlert" ng-show="questionForm.optionText_{{$parent.$index + 1}}_{{$index + 1}}.$error.required">Option text is required.</span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <input type="number" ng-model="option.weight" name="optionWeight_{{$parent.$index + 1}}_{{$index + 1}}" style="width: 50px" required/>
                            <div ng-show="ctrl.submitted">
                                <span class="alert alert-danger formAlert" ng-show="questionForm.optionWeight_{{$parent.$index + 1}}_{{$index + 1}}.$error.required">Weight is required.</span>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <input type="number" ng-model="option.score" name="optionScore_{{$parent.$index + 1}}_{{$index + 1}}" style="width: 50px" required/>
                            <div ng-show="ctrl.submitted">
                                <span class="alert alert-danger formAlert" ng-show="questionForm.optionScore_{{$parent.$index + 1}}_{{$index + 1}}.$error.required">Score is required.</span>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding: 3px 10px" ng-if="question.options.length > 2">
                            <a href="javascript:void(0)" ng-click="ctrl.removeOption(question.options, option)" style="color: #E74C3C;"><i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row col-lg-2 verticalSpace"><a href="javascript:void(0)" ng-click="ctrl.addOptions(question.options)" style="color: #154360;"><i class="fa fa-plus" aria-hidden="true"></i> Add More</a></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-lg-6" style="padding-left: 25px;">
                <a href="javascript:void(0)" ng-click="ctrl.addQuestions()" style="color: #154360">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add More</a>
            </div>
            <div class="col-lg-6" align="right" style="padding-right: 25px;">
                <a class="btn btnBorder" ui-sref="admin.questionBank">Cancel</a>
                <button type="submit" class="btn btn-primary " href="javascript:void(0) ">Save Questions</button>
            </div>
        </div>
    </form>
</div>