<div class="container content" ng-init="ctrl.loadAssessment()">
    <form name="assessmentForm" ng-submit="ctrl.createAssessment(this.assessmentForm)" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <span class="headerText">{{ctrl.title}}</span>
            </div>
            <div class="col-lg-6" align="right">
                <a class="btn" ui-sref="admin.manageAssessments" style="border: 1px solid #0275d8">Cancel</a>
                <button type="submit" class="btn btn-primary" href="javascript:void(0)">Save</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="ctrl.showError" class="alert alert-danger alertMessage" style="margin-left: 0px;">{{ctrl.errorText}}
            <span class="closeButton" ng-click="ctrl.showError=false"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="row listing">
            <div class="col-lg-1 labelText" style="width: 90px;">Title :</div>
            <div class="col-lg-10">
                <input type="text" ng-model="ctrl.assessment.title" name="assessmentTitle" style="width: 200px;" required/>
                <div ng-show="ctrl.submitted">
                    <span class="alert alert-danger formAlert" ng-show="assessmentForm.assessmentTitle.$error.required">Assessment title is required.</span>
                </div>
            </div>
        </div>
        <div ng-repeat="section in ctrl.assessment.sectionList track by $index" class="section">
            <div class="removeDiv" ng-if="ctrl.assessment.sectionList.length > 1">
                <a href="javascript:void(0)" ng-click="ctrl.removeSection(section)" style="color: #FFFFFF;">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</a>
            </div>
            <div class="row listing">
                <div class="col-lg-1 labelText">Section :</div>
                <div class="col-lg-10">
                    <input type="text" ng-model="section.title" name="section_{{$index + 1}}" style="width: 200px;" required/>
                    <div ng-show="ctrl.submitted">
                        <span class="alert alert-danger formAlert" ng-show="assessmentForm.section_{{$index + 1}}.$error.required">Section title is required.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1 labelText">Activities :</div>
                <div class="col-lg-10">
                    <div class="row" ng-repeat="activity in section.activityList" style="padding-bottom: 10px;">
                        <div class="col-lg-8">
                            <input type="text" ng-model="activity.activityDescription" name="activity_{{$parent.$index + 1}}_{{$index + 1}}" style="width: 600px;" required/>
                            <div ng-show="ctrl.submitted">
                                <span class="alert alert-danger formAlert" ng-show="assessmentForm.activity_{{$parent.$index + 1}}_{{$index + 1}}.$error.required">Activity is required.</span>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding: 3px 10px" ng-if="section.activityList.length > 1">
                            <a href="javascript:void(0)" ng-click="ctrl.removeActivity(section.activityList, activity)" style="color: #FFFFFF;"><i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</a>
                        </div>
                    </div>
                    <div class="row col-lg-2"><a href="javascript:void(0)" ng-click="ctrl.addActivity(section.activityList)" style="color: #FFFFFF;"><i class="fa fa-plus" aria-hidden="true"></i> Add More</a></div>
                </div>
            </div>
            <!--<div class="row listing">
                <div class="col-lg-1 labelText">Project Type :</div>
                <div class="col-lg-4">
                    <select ng-model="section.projectType" ng-change="ctrl.getProjectQuestions(section)" name="projectType_{{$index + 1}}" required>
                        <option value="">Please Select</option>
                        <option value="Development">Development</option>
                        <option value="Testing">Testing</option>
                        <option value="Project Management">Project Management</option>
                        <option value="Deployment">Deployment</option>
                    </select>
                    <div ng-show="ctrl.submitted">
                        <span class="alert alert-danger formAlert" ng-show="assessmentForm.projectType_{{$index + 1}}.$error.required">Project type is required.</span>
                    </div>
                </div>
            </div>-->
            <div ng-repeat="level in section.levelList track by $index" class="level">
                <div class="removeDiv" ng-if="section.levelList.length > 1">
                    <a href="javascript:void(0)" ng-click="ctrl.removeLevel(section.levelList, level)" style="color: #FFFFFF;">
                        <i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</a>
                </div>
                <div class="row listing">
                    <div class="col-lg-1 labelText" style="width: 90px;">Level :</div>
                    <div class="col-lg-10">
                        <input type="text" ng-model="level.title" name="assessmentForm.level_{{$parent.$index + 1}}_{{$index + 1}}" style="width: 200px;" required disabled/>
                        <div ng-show="ctrl.submitted">
                            <span class="alert alert-danger formAlert" ng-show="assessmentForm.level_{{$index + 1}}.$error.required">Level title is required.</span>
                        </div>
                    </div>
                </div>
                <div ng-repeat="heading in level.headingList track by $index" class="row heading">
                    <div class="removeDiv" ng-if="level.headingList.length > 1">
                        <a href="javascript:void(0)" ng-click="ctrl.removeHeading(level.headingList, heading)" style="color: #FFFFFF;">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</a>
                    </div>
                    <div class="row listing">
                        <div class="col-lg-1 labelText" style="width: 110px;">Heading :</div>
                        <div class="col-lg-10">
                            <input type="text" ng-model="heading.title" name="assessmentForm.heading_{{$parent.$parent.$index + 1}}_{{$parent.$index + 1}}_{{$index + 1}}" style="width: 50%;" required/>
                            <div ng-show="ctrl.submitted">
                                <span class="alert alert-danger formAlert" ng-show="assessmentForm.heading_{{$parent.$parent.$index + 1}}_{{$parent.$index + 1}}_{{$index + 1}}.$error.required">Heading text is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-12" ng-repeat="question in heading.questionList track by $index">
                        <div class="col-lg-10 question">
                            <div>{{question.questionText}}</div>
                            <div class="verticalSpace" ng-switch on="question.questionType">
                                <div ng-switch-when="1">
                                    <ul class="optionList">
                                        <li ng-repeat="option in question.options">
                                            <input type="radio" name="option_question_{{$parent.$index + 1}}" /> {{option.optionText}}
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="2">
                                    <ul class="optionList">
                                        <li ng-repeat="option in question.options">
                                            <input type="checkbox" /> {{option.optionText}}
                                        </li>
                                    </ul>
                                </div>
                                <div ng-switch-when="3">
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 removeQuestion">
                            <a href="javascript:void(0)" ng-click="ctrl.removeQuestion(heading.questionList, question)" style="color: #FFFFFF;">
                                <i class="fa fa-minus-circle" aria-hidden="true"></i> Remove</a>
                        </div>
                    </div>
                    <div class="col-lg-12 addLink">
                        <a href="javascript:void(0)" ng-click="ctrl.addQuestions(heading.questionList)" style="color: #FFFFFF">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add Questions</a>
                    </div>
                </div>
                <div class="addLink">
                    <a href="javascript:void(0)" ng-click="ctrl.addHeading(level.headingList)" style="color: #FFFFFF">
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Heading</a>
                </div>
            </div>
            <div class="addLink" ng-if="section.levelList.length<5">
                <a href="javascript:void(0)" ng-click="ctrl.addLevel(section.levelList)" style="color: #FFFFFF">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Level</a>
            </div>
        </div>
        <div class="row" style="padding-bottom: 15px;">
            <div class="col-lg-6">
                <a href="javascript:void(0)" ng-click="ctrl.addSection()" style="color: #154360">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Section</a>
            </div>
            <div class="col-lg-6" align="right">
                <a class="btn" ui-sref="admin.manageAssessments" style="border: 1px solid #0275d8">Cancel</a>
                <button type="submit" class="btn btn-primary" href="javascript:void(0)">Save</button>
            </div>
        </div>
    </form>
</div>