.view-header {
    background-color: #272942;
    height: 60px;
    padding: 0px 25px;
    border: 0px;
    border-radius: 0px;
    p {
        // margin-left: 145px;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 60px;
        display: inline-block;
    }
    .navbar-right {
        // margin-right: 145px;
        margin-top: 7px;
    }
    button {
        height: 36px;
        width: 140px;
        border-radius: 2px;
        color: #FFFFFF;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        border: none;
        margin: 5px;
        outline: none;
    }
}

.wrapper {
    font-family: "source-sans-pro";
    .dashboard-view-header {
        button {
            &.export {
                background: #757683;
            }
            &.settings,
            &.cancel {
                background: #196AE5;
            }
            &.delete {
                background: #CF4520;
            }
            &.save {
                background: #4CAF50;
            }
        }
        .dashboardNames {
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            max-width: 70%;
            div {
                display: inline-block;
                border-right: 1px solid #757683;
                position: relative;
                height: 60px;
                padding: 0px 10px;
                &:first-child {
                    p {
                        text-align: left;
                        padding-left: 0;
                    }
                    sup {
                        display: none;
                    }
                }
                &:last-of-type {
                    border-right: none;
                }
                sup {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: #CF4520;
                    //           border: 1px solid;
                    // border-radius: 50%;
                    // width: 20px;
                    // display: inline-block;
                    // height: 20px;
                    // line-height: 19px;
                }
            }
            p {
                padding: 0 10px;
                cursor: pointer;
                &.active {
                    color: #F8CB00;
                }
            }
            span.glyphicon {
                color: #FFFFFF;
                border: 2px solid #FFFFFF;
                border-radius: 50%; // padding: 3px;
                width: 30px;
                height: 30px;
                line-height: 24px;
                cursor: pointer;
                top: 0px;
            }
        }
        .newDash {
            position: absolute;
            top: 12px;
            .title {
                color: #FFFFFF;
                font-size: 18px;
                padding-right: 15px
            }
            .error {
                color: red;
                padding: 0px 10px;
            }
            /* when hiding the picture */
            &.ng-hide-add {
                animation: 0.5s flipOutX ease;
            }
            /* when showing the picture */
            &.ng-hide-remove {
                animation: 0.5s flipInX ease;
            }
            /* flip in */
            @keyframes flipInX {
                0% {
                    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                    transition-timing-function: ease-in;
                    opacity: 0;
                }
                40% {
                    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                    transition-timing-function: ease-in;
                    transition-timing-function: ease-in;
                }
                60% {
                    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
                    opacity: 1;
                }
                80% {
                    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
                    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
                    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
                }
                100% {
                    transform: perspective(400px);
                    transform: perspective(400px);
                    transform: perspective(400px);
                }
            }
            /*flipout*/
            @keyframes flipOutX {
                from {
                    transform: perspective(400px);
                }
                30% {
                    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
                    opacity: 0.5;
                }
                to {
                    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
                    opacity: 0;
                }
            }
            input {
                height: 36px;
                border-radius: 2px;
                width: 300px;
                font-size: 14px;
                &::-webkit-input-placeholder {
                    text-align: center;
                }
                &:-moz-placeholder {
                    /* Firefox 18- */
                    text-align: center;
                }
                &::-moz-placeholder {
                    /* Firefox 19+ */
                    text-align: center;
                }
                &:-ms-input-placeholder {
                    text-align: center;
                }
            }
            button {
                width: 50px;
            }
        }
    }
    .slider-content {
        padding: 13px 145px 24px;
        background: #5C5E6C;
        height: 230px;
        overflow: hidden;
        p.info {
            color: #C9C9CD;
            font-size: 12px;
            line-height: 21px;
            margin-bottom: 10px;
        }
        .carousel-inner {
            height: 160px;
            background-color: #272942;
            color: #fff;
        }
        .addWidget {
            background-color: #196AE5;
            font-weight: bold;
            border-radius: 50%;
            width: 21px;
            cursor: pointer;
            vertical-align: middle;
            line-height: 20px;
            font-size: 18px;
        }
        .removeWidget {
            background-color: #CF4520;
            font-weight: bold;
            border-radius: 50%;
            width: 20px;
            cursor: pointer;
            vertical-align: middle;
            line-height: 20px;
        }
        &.ng-hide-add {
            animation: 0.1s fadeOut ease;
        }
        /* when showing the picture */
        &.ng-hide-remove {
            animation: 0.5s fadeIn ease;
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        @keyframes fadeOut {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
            }
        }
    }
    .dashboard {
        background: #E8E8E9;
        overflow: auto; // text-align: center;
        padding: 20px 0; // margin: 0 auto;
        column-count: 2;
        list-style-type: none;
        min-height: 1000px;
        .widget-hidden {
            display: none !important;
        }
        .dashboard-wrapper {
            margin: 0 auto;
            width: 1265px;
            &.active {
                display: block;
            }
        }
        .draggable {
            cursor: move
        }
        .widget-wrapper {
            display: inline-block;
            height: 450px; // min-width: 42%;
            width: 600px;
            background: #FFFFFF;
            padding: 20px;
            box-shadow: 0 4px 10px 0 #D1D4D7; // display: inline-block;
            vertical-align: top;
            margin: 15px;
            span.remove {
                position: absolute;
                top: -8px;
                right: -8px;
                background: #CF4520;
                height: 20px;
                line-height: 19px;
                border-radius: 50%;
                color: #FFFFFF;
                width: 20px;
                text-align: center;
                cursor: pointer;
            }
            p.widget-heading {
                margin-bottom: 16px;
                color: #172A3A;
                font-size: 16px;
                font-weight: 600;
            }
            div {
                p.widget-subheading {
                    color: #196AE5;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 15px;
                    display: inline-block;
                }
                div.legend {
                    float: right;
                    div {
                        display: inline-block;
                        color: #757683;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    span {
                        height: 14px;
                        width: 14px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: bottom;
                        &.increase {
                            background: #F8CB00;
                        }
                        &.reduce {
                            background: #00629B;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .in-progress {
                text-align: center;
                margin-top: 100px;
                font-size: 50px;
                font-weight: bold;
                font-style: italic;
                color: #00629B;
            }
        }
        table {
            border: 1px solid #E7E8E9;
            thead {
                background: #F3F3F4;
                th {
                    color: #172A3A;
                    font-size: 12px;
                    font-weight: 600;
                    &:nth-child(n+2) {
                        text-align: center;
                    }
                }
            }
            .release {
                font-size: 14px;
                color: #172A3A;
                line-height: 28px;
                width: 150px;
            }
            .done,
            .awaiting,
            .inProgress,
            .stalled {
                border-radius: 2px;
                text-align: center;
                font-size: 12px;
                width: 100%;
                max-width: 80px;
                padding: 5px 0;
                margin: 0 auto;
            }
            .done {
                border: 1px solid #4CAF50;
                color: #4CAF50;
            }
            .awaiting {
                border: 1px solid #9E9FA7;
                color: #9E9FA7;
            }
            .inProgress {
                border: 1px solid #00629B;
                color: #00629B;
            }
            .stalled {
                border: 1px solid #CF4520;
                color: #CF4520;
            }
        }
        [data-widget="pipelineTrend"] {
            div {
                p.widget-subheading {
                    color: #196AE5;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 15px;
                    display: inline-block;
                }
                div.legend {
                    float: right;
                    div {
                        display: inline-block;
                        color: #757683;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    span {
                        height: 14px;
                        width: 14px;
                        display: inline-block;
                        border-radius: 50%;
                        margin-right: 10px;
                        vertical-align: bottom;
                        &.increase {
                            background: #F8CB00;
                        }
                        &.reduce {
                            background: #00629B;
                            margin-left: 10px;
                        }
                    }
                }
            }
            ul {
                padding: 0px;
                margin-top: 30px;
                li {
                    display: inline-block;
                    width: 22%;
                    vertical-align: top;
                    &:not(:last-child) {
                        border-right: 0.5px solid #DCDDDF;
                    }
                    &:nth-child(n+2) {
                        margin-left: 14px;
                    }
                    p.trendName {
                        color: #757683;
                        font-size: 12px;
                        line-height: 14px;
                        height: 40px;
                    }
                    p.frequencyValue {
                        color: #212338;
                        font-size: 54px;
                        line-height: 68px;
                        text-align: center;
                    }
                    p.frequency {
                        color: #196AE5;
                        font-size: 12px;
                        line-height: 15px;
                        text-align: center;
                        position: relative;
                        right: 13px;
                    }
                    span {
                        font-size: 25px;
                        &.glyphicon-arrow-up {
                            color: #F8CB00;
                        }
                        &.glyphicon-arrow-down {
                            color: #00629B
                        }
                    }
                    sup {
                        font-weight: 600;
                        font-size: 14px;
                        vertical-align: super;
                    }
                }
            }
        }
        [data-widget="qualityTrend"] {
            ul {
                padding: 0px;
                margin-top: 15px;
                li {
                    display: inline-block;
                    width: 30%;
                    vertical-align: top;
                    height: 335px;
                    &:not(:last-child) {
                        border-right: 0.5px solid #DCDDDF;
                    }
                    &:nth-child(n+2) {
                        margin-left: 19px;
                    }
                    p.trendName {
                        color: #757683;
                        font-size: 12px;
                        line-height: 14px;
                        margin-bottom: 25px;
                    }
                    p.type {
                        color: #196AE5;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    p.frequencyValue {
                        color: #212338;
                        font-size: 44px;
                        line-height: 68px;
                    }
                    span {
                        font-size: 25px;
                        &.glyphicon-arrow-up {
                            color: #F8CB00;
                        }
                        &.glyphicon-arrow-down {
                            color: #00629B
                        }
                    }
                    sup {
                        font-weight: 600;
                        font-size: 14px;
                        vertical-align: super;
                    }
                }
            }
        }
    }
}