<div class="container content" ng-init="ctrl.getAssessments()">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <span class="headerText">Manage Assessments</h3>
            </div>
            <div class="row manage-assessments">
                <div align="center" ng-if="ctrl.assessmentList.length === 0">No records found</div>
                <div class="col-lg-12" ng-repeat="assessment in ctrl.assessmentList" style="padding: 10px 0px;">
                    <div class="col-lg-1 delete" title="Delete Assessment" ng-click="ctrl.deleteAssessment(assessment)"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></div>
                    <div class="col-lg-1 edit" title="Edit Assessment" ng-click="ctrl.editAssessment(assessment.assessmentId)"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></div>
                    <div class="col-lg-6 title">{{assessment.title}}</div>
                </div>
            </div>
        </div>
    </div>
</div>