<div class="container content" ng-init="ctrl.getQuestions()">
    <div class="row">
        <div class="col-lg-6">
            <span class="headerText">Question Bank</span>
        </div>
        <div class="col-lg-5" align="right" style="padding-right: 25px;">
            <a class="btn btn-primary" ui-sref="admin.addQuestion">Add Questions</a>
        </div>
    </div>
    <div class="clearfix"></div>
    <!--<div class="row listing">
        <div class="col-lg-1 labelText">Project Type :</div>
        <div class="col-lg-4">
            <select ng-model="ctrl.projectType" ng-change="ctrl.getProjectQuestions()">
                    <option value="">All</option>
                    <option value="Development">Development</option>
                    <option value="Testing">Testing</option>
                    <option value="Project Management">Project Management</option>
                    <option value="Deployment">Deployment</option>
            </select>
        </div>
    </div>-->
    <div class="row listing">
        <div class="col-lg-1 labelText">Filter By Tag :</div>
        <div class="col-lg-10">
            <input type="text" ng-model="ctrl.questionTag" name="assessmentTitle" style="width: 200px;" />
            <button class="btn btn-primary" ng-click="ctrl.filterQuestions()" style="padding: 4px 10px">Filter</button>
        </div>
    </div>
    <div class="row col-lg-12" ng-repeat="question in ctrl.questionList track by $index">
        <!--<div class="col-lg-1 questionNumber">{{$index + 1}}.</div>-->
        <div class="col-lg-11 question">
            <div>{{question.questionText}}</div>
            <div class="verticalSpace" ng-switch on="question.questionType">
                <div ng-switch-when="1">
                    <ul class="optionList">
                        <li ng-repeat="option in question.options">
                            <input type="radio" name="option_{{question.questionId}}" /> {{option.optionText}}
                        </li>
                    </ul>
                </div>
                <div ng-switch-when="2">
                    <ul class="optionList">
                        <li ng-repeat="option in question.options">
                            <input type="checkbox" /> {{option.optionText}}
                        </li>
                    </ul>
                </div>
                <div ng-switch-when="3">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="listing" ng-if="ctrl.questionList.length == 0">No questions to display</div>
</div>