<div class="select-question">
    <div class="row modal-header">
        <div class="col-lg-6 title">
            <span>Select Questions</span>
        </div>
        <div class="col-lg-6 closeButton" align="right" ng-click="ctrl.cancel()"><i class="fa fa-times-circle-o fa-2x" aria-hidden="true"></i></div>
    </div>
    <div ng-if="ctrl.showError" class="alert alert-danger alertMessage" style="margin-left: 0px; margin-top: 10px;">
        Please select question(s)
        <span class="closeButton" ng-click="ctrl.showError=false">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </div>
    <div class="row listing">
        <div class="col-lg-1 labelText">Filter By Tag :</div>
        <div class="col-lg-10">
            <input type="text" ng-model="ctrl.questionTag" name="assessmentTitle" style="width: 200px;" />
            <button class="btn btn-primary" ng-click="ctrl.filterQuestions()" style="padding: 4px 10px">Filter</button>
        </div>
    </div>
    <div class="row questions">
        <div class="row col-lg-12" ng-repeat="question in ctrl.questions track by question.questionId">
            <div class="col-lg-1 questionSelection">
                <input type="checkbox" ng-model="ctrl.selectedQuestions[question.questionId]" ng-true-value="{{question}}" ng-false-value="''" style="cursor: pointer;" />
            </div>
            <div class="col-lg-10 question">
                <div>{{question.questionText}}</div>
                <div class="verticalSpace" ng-switch on="question.questionType">
                    <div ng-switch-when="1">
                        <ul class="optionList">
                            <li ng-repeat="option in question.options">
                                <input type="radio" name="option_{{question.questionId}}" /> {{option.optionText}}
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="2">
                        <ul class="optionList">
                            <li ng-repeat="option in question.options">
                                <input type="checkbox" /> {{option.optionText}}
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="3">
                        <textarea></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row buttons">
        <a href="javascript:void(0)" class="btn" ng-click="ctrl.cancel()" style="border: 1px solid #2e6da4">Cancel</a>
        <button class="btn btn-primary" ng-click="ctrl.add()">Add</button>
    </div>
</div>