<p class="widget-heading">Effort</p>
<div>
    <p class="widget-subheading">Monthly</p>
    <div class="legend">
        <div><span class="increase"></span>Increased</div>
        <div><span class="reduce"></span>Decreased</div>
    </div>
    <div class="in-progress">In Progress</div>
</div>