<p class="widget-heading">Development Pipeline Trend</p>
<div>
    <p class="widget-subheading">Monthly</p>
    <div class="legend">
        <div><span class="increase"></span>Increased</div>
        <div><span class="reduce"></span>Decreased</div>
    </div>
    <ul>
        <li>
            <p class="trendName">Production Deployment Frequency</p>
            <div ng-click="ctrl.showDrillDown('chart', ctrl.widgetData.frequencyData)">
                <p class="frequencyValue">{{ctrl.widgetData.frequencyData.value}}<span class="glyphicon" ng-class="{'glyphicon-arrow-up' : ctrl.widgetData.frequencyData.arrowValue === 'up', 'glyphicon-arrow-down' : ctrl.widgetData.frequencyData.arrowValue === 'down'}"></span></p>
                <p class="frequency" ng-if="ctrl.widgetData.frequencyData.unitValue">({{ctrl.widgetData.frequencyData.unitValue}})</p>
            </div>
        </li>
        <li>
            <p class="trendName">Average Lead Time for Production Changes</p>
            <div ng-click="ctrl.showDrillDown('table', ctrl.widgetData.leadTimeData)">
                <p class="frequencyValue">{{ctrl.widgetData.leadTimeData.value}}<span class="glyphicon" ng-class="{'glyphicon-arrow-up' : ctrl.widgetData.leadTimeData.arrowValue === 'up', 'glyphicon-arrow-down' : ctrl.widgetData.leadTimeData.arrowValue === 'down'}"></span></p>
                <p class="frequency" ng-if="ctrl.widgetData.leadTimeData.unitValue">({{ctrl.widgetData.leadTimeData.unitValue}})</p>
            </div>
        </li>
        <li>
            <p class="trendName">Average Production Recover Time</p>
            <div ng-click="ctrl.showDrillDown('chart', ctrl.widgetData.recoverTimeData)">
                <p class="frequencyValue">{{ctrl.widgetData.recoverTimeData.value|number:0}}<span class="glyphicon" ng-class="{'glyphicon-arrow-up' : ctrl.widgetData.recoverTimeData.arrowValue === 'up', 'glyphicon-arrow-down' : ctrl.widgetData.recoverTimeData.arrowValue === 'down'}"></span></p>
                <p class="frequency" ng-if="ctrl.widgetData.recoverTimeData.unitValue">({{ctrl.widgetData.recoverTimeData.unitValue}})</p>
            </div>
        </li>
        <li>
            <p class="trendName">Change Failure Rate in Production</p>
            <div ng-click="ctrl.showDrillDown('list', ctrl.widgetData.failureRateData)">
                <p class="frequencyValue">{{ctrl.widgetData.failureRateData.value|number:0}}<sup>%</sup><span class="glyphicon" ng-class="{'glyphicon-arrow-up' : ctrl.widgetData.failureRateData.arrowValue === 'up', 'glyphicon-arrow-down' : ctrl.widgetData.failureRateData.arrowValue === 'down'}"></span></p>
                <p class="frequency" ng-if="ctrl.widgetData.failureRateData.unitValue">({{ctrl.widgetData.failureRateData.unitValue}})</p>
            </div>
        </li>
    </ul>
</div>