<script type="text/ng-template" id="previousMonth.html">
    <span class="previous-month">Previous Month: <span class="month-value">{{data.hoverValue}}</span></span>
</script>
<p class="widget-heading">Production Reporting</p>
<div>
    <p class="widget-subheading">Monthly</p>
    <div class="legend">
        <div><span class="increase"></span>Increased</div>
        <div><span class="reduce"></span>Decreased</div>
    </div>
    <p class="sub-header">Customer Reported Open Issues</p>
    <ul>
        <li>
            <p class="trendName"></p>
            <div ng-repeat="data in ctrl.widgetData.p1Data.widgetData[0]['l1']">
                <p class="type">{{data.name}} </p>
            </div>
        </li>
        <li ng-click="ctrl.showDrillDown('chart', ctrl.widgetData.p1Data, 'Customer Reported Open Issues', 'L' + ($index + 1))" ng-repeat="section in ctrl.widgetData.p1Data.widgetData[0] track by $index">
            <p class="trendName">L{{$index + 1}}</p>
            <div ng-repeat="data in section">
                <p class="frequencyValue" uib-popover-template="'previousMonth.html'" popover-trigger="'mouseenter'" popover-placement="bottom">
                    {{data.value | number:0}}
                    <span class="glyphicon" ng-class="{'glyphicon-arrow-up' : data.arrowValue === 'up', 'glyphicon-arrow-down' : data.arrowValue === 'down'}"></span>
                </p>
            </div>
        </li>
    </ul>
    <p class="sub-header">Production Log Analysis</p>
    <ul class="logs">
        <li ng-repeat="log in ctrl.widgetData.logData.productionLogsAnalysisList">
            <p class="type">{{log.exceptionName}}</p>
            <div>
                <p class="frequencyValue">{{log.count}}</p>
            </div>
        </li>
    </ul>
</div>