<p class="widget-heading">Quality Trend</p>
<div>
    <p class="widget-subheading">Weekly</p>
    <div class="legend">
        <div><span class="increase"></span>Increased</div>
        <div><span class="reduce"></span>Decreased</div>
    </div>
    <ul>
        <li>
            <p class="trendName">Tests</p>
            <div ng-repeat="data in ctrl.widgetData.testData.widgetData" ng-click="ctrl.showDrillDown('chart', ctrl.widgetData.testData, 'Tests', data.name, data.unitValue.toLowerCase() == 'percentage' ? 'Percent' : 'Number')">
                <p class="type">{{data.name}} </p>
                <p class="frequencyValue">
                    {{data.value | number:0}}<sup ng-if="data.unitValue.toLowerCase() == 'percentage'">%</sup>
                    <span class="glyphicon" ng-class="{'glyphicon-arrow-up' : data.arrowValue === 'up', 'glyphicon-arrow-down' : data.arrowValue === 'down'}"></span>
                </p>
            </div>
        </li>
        <li>
            <p class="trendName">Static Code Analysis</p>
            <div ng-repeat="data in ctrl.widgetData.codeData.widgetData" ng-click="ctrl.showDrillDown('chart', ctrl.widgetData.codeData, 'Static Code Analysis', data.name, data.unitValue.toLowerCase() == 'percentage' ? 'Percent' : 'Number')">
                <p class="type">{{data.name}} </p>
                <p class="frequencyValue">{{data.value | number}}<span class="glyphicon" ng-class="{'glyphicon-arrow-up' : data.arrowValue === 'up', 'glyphicon-arrow-down' : data.arrowValue === 'down'}"></span></p>
            </div>
        </li>
        <li>
            <p class="trendName">Test Automation Analysis</p>
            <div ng-repeat="data in ctrl.widgetData.automationData.widgetData" ng-click="ctrl.showDrillDown('chart', ctrl.widgetData.automationData, 'Test Automation Analysis', data.name, data.unitValue.toLowerCase() == 'percentage' ? 'Percent' : 'Number')">
                <p class="type">{{data.name}} </p>
                <p class="frequencyValue">{{data.value | number:0}}<sup ng-if="data.unitValue.toLowerCase() == 'percentage'">%</sup><span class="glyphicon" ng-class="{'glyphicon-arrow-up' : data.arrowValue === 'up', 'glyphicon-arrow-down' : data.arrowValue === 'down'}"></span></p>
            </div>
        </li>
    </ul>
</div>