<script type="text/ng-template" id="testResults.html">
    <span class="pass">Pass : {{data.passCount}}</span> , <span class="fail">Fail : {{data.failCount}}</span>
</script>
<p class="widget-heading">Release Status</p>
<div>
    <p class="widget-subheading">Monthly</p>
    <div class="jira-details">
        <div class="release-legend">
            <div><span class="on-track"></span>On track</div>
            <div><span class="delay"></span>Delay</div>
            <div><span class="off-track"></span>Off the track</div>
        </div>
        <p>Jira Release & Status</p>
        <div ng-repeat="data in ctrl.widgetData.jiraData">
            <div class="version" ng-class="{'on-track': data.value ==='Green', 'delay': data.value === 'Amber', 'off-track': data.value === 'Red'}">{{data.name}}</div>
        </div>
    </div>
    <div class="functional-testing">
        <div class="release-legend">
            <div><span class="on-track"></span>All Pass</div>
            <div><span class="off-track"></span>Any Failure</div>
        </div>
        <p>Functional Testing Status</p>
        <div class="table-responsive">
            <table class="table">
                <!--<thead>
                    <th ng-repeat="data in ctrl.widgetData.testsData">{{data.upstreamProjectName}}</th>
                </thead>-->
                <thead>
                    <th>DEV</th>
                    <th>SIT</th>
                    <th>UAT</th>
                    <th>PROD</th>
                </thead>
                <tbody>
                    <tr>
                        <td ng-repeat="data in ctrl.widgetData.testsData">
                            <div class="build" uib-popover-template="'testResults.html'" popover-trigger="'mouseenter'" popover-placement="bottom" ng-class="{pass: data.color.toLowerCase() ==='green', fail: data.color.toLowerCase() === 'red'}">{{data.upstreamBuildVersion}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="release-mapping">
        <p>Release Mapping</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>DETAILS</th>
                    <th>DEV</th>
                    <th>SIT</th>
                    <th>UAT</th>
                    <th>PROD</th>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, mapping) in ctrl.widgetData.mappingData">
                        <td>{{key}}</td>
                        <td ng-repeat="data in mapping">
                            <div>{{data.value}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>