.wrapper {
  font-family: "source-sans-pro";
  .dashboard-view-header {
    button {
      &.export {
        background: #757683;
      }
      &.settings,
      &.cancel {
        background: #196AE5;
      }
      &.save {
        background: #4CAF50;
      }
    }
    .dashboardNames {
      display: inline-block;
      text-align: center;
      white-space: nowrap;
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      max-width: 70%;
      div{
        display: inline-block;
        border-right: 1px solid #757683;
        width: 220px;
        position: relative;
        &:first-child {
          p{
            text-align: left;
          padding-left: 0;
          width: 205px;
          }
          sup{
            display: none;
          }
        }
        &:last-of-type {
          border-right: none;
        }
        sup {
          position: absolute;
         right: 10px;
    top: 10px;
          color: #CF4520;
    //           border: 1px solid;
    // border-radius: 50%;
    // width: 20px;
    // display: inline-block;
    // height: 20px;
    // line-height: 19px;
        }
      }
      p {
        padding: 0 10px;
        cursor: pointer;
        &.active {
          color: #196AE5;
        }
        
      }
      span.glyphicon {
        color: #196AE5;
        border: 2px solid #196AE5;
        border-radius: 50%; // padding: 3px;
        width: 30px;
        height: 30px;
        line-height: 24px;
        cursor: pointer;
      }
      &.blurAdd {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
      }
    }
    .newDash {
      position: absolute;
      top: 7px;
      /* when hiding the picture */
      &.ng-hide-add {
        animation: 0.5s flipOutX ease;
      }
      /* when showing the picture */
      &.ng-hide-remove {
        animation: 0.5s flipInX ease;
      }
      /* flip in */
      @keyframes flipInX {
        0% {
          transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
          transition-timing-function: ease-in;
          opacity: 0;
        }
        40% {
          transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
          transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
          transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
          transition-timing-function: ease-in;
          transition-timing-function: ease-in;
        }
        60% {
          transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
          transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
          transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
          opacity: 1;
        }
        80% {
          transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
          transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
          transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }
        100% {
          transform: perspective(400px);
          transform: perspective(400px);
          transform: perspective(400px);
        }
      }
      /*flipout*/
      @keyframes flipOutX {
        from {
          transform: perspective(400px);
        }
        30% {
          transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
          opacity: 0.5;
        }
        to {
          transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
          opacity: 0;
        }
      }
      input {
        height: 36px;
        border-radius: 2px;
        width: 300px;
        &::-webkit-input-placeholder {
          text-align: center;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          text-align: center;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          text-align: center;
        }
        &:-ms-input-placeholder {
          text-align: center;
        }
      }
      button {
        width: 50px;
      }
    }
  }
  .slider-content {
    padding: 13px 145px 24px;
    background: #5C5E6C;
    height: 230px;
    overflow: hidden;
    p.info {
      color: #C9C9CD;
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 10px;
    }
    .owl-carousel {
      border: 1px dashed #757683;
      border-radius: 2px;
      position: relative;
      .slide {
        position: relative;
        background: #212338;
        width: 250px;
        margin: 30px 20px;
        color: #FFFFFF;
        padding: 15px;
        font-size: 14px;
        line-height: 21px;
        z-index: 9999;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(88, 90, 104, 1);
        -moz-box-shadow: 0px 0px 5px 1px rgba(88, 90, 104, 1);
        box-shadow: 0px 0px 5px 1px rgba(88, 90, 104, 1);
        h2 {
          margin-bottom: 5px;
          font-weight: 600;
        }
        &:after {
          content: '+';
          background: #196AE5;
          width: 20px;
          height: 20px;
          position: absolute;
          top: -8px;
          right: -8px;
          border-radius: 50%;
          text-align: center;
          line-height: 19px;
          font-size: 24px;
          font-weight: 500;
        }
        &.active {
          background: #757683;
          &:after {
            content: '\2013';
            background: #CF4520;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -8px;
            right: -8px;
            border-radius: 50%;
            text-align: center;
            line-height: 17px;
            font-size: 24px;
            font-weight: 500;
          }
        }
      }
      .owl-prev,
      .owl-next {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        line-height: 34px;
        display: block;
        text-align: center;
        position: absolute;
        top: 64px;
        z-index: 999;
        cursor: pointer;
        color: #000;
      }
      .owl-next {
        right: -20px;
      }
      .owl-prev {
        left: -20px;
      }
      .owl-nav {
        margin-top: 0;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 50px;
        top: 0;
        height: 100%;
        display: block;
      }
      &:before {
        left: 0;
        background: linear-gradient(to right, #5C5E6C, rgba(0, 0, 0, 0));
      }
      &:after {
        right: 0;
        background: linear-gradient(to left, #5C5E6C, rgba(0, 0, 0, 0));
      }
    }
    &.ng-hide-add {
      animation: 0.1s fadeOut ease;
    }
    /* when showing the picture */
    &.ng-hide-remove {
      animation: 0.5s fadeIn ease;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }
  .dashboard {
    background: #E8E8E9;
    overflow: auto; // text-align: center;
    padding: 30px 0; // margin: 0 auto;
    height: 1140px;
    .widget-hidden {
      display: none !important;
    }
    .dashboard-wrapper {
      margin: 0 auto;
      width: 1265px;
      display: none;
      &.active {
        display: block;
      }
    }
    .widget-wrapper {
      display: inline-block;
      height: 330px; // min-width: 42%;
      width: 600px;
      background: #FFFFFF;
      padding: 20px;
      box-shadow: 0 4px 10px 0 #D1D4D7; // display: inline-block;
      vertical-align: top;
      margin: 15px;
      span.remove {
        position: absolute;
        top: -8px;
        right: -8px;
        background: #CF4520;
        height: 20px;
        line-height: 19px;
        border-radius: 50%;
        color: #FFFFFF;
        width: 20px;
        text-align: center;
        cursor: pointer;
      }
    }
    p.widget-heading {
      margin-bottom: 16px;
      color: #172A3A;
      font-size: 16px;
      font-weight: 600;
    }
    table {
      border: 1px solid #E7E8E9;
      thead {
        background: #F3F3F4;
        th {
          color: #172A3A;
          font-size: 12px;
          font-weight: 600;
          &:nth-child(n+2) {
            text-align: center;
          }
        }
      }
      .release {
        font-size: 14px;
        color: #172A3A;
        line-height: 28px;
        width: 150px;
      }
      .done,
      .awaiting,
      .inProgress,
      .stalled {
        border-radius: 2px;
        text-align: center;
        font-size: 12px;
        width: 100%;
        max-width: 80px;
        padding: 5px 0;
        margin: 0 auto;
      }
      .done {
        border: 1px solid #4CAF50;
        color: #4CAF50;
      }
      .awaiting {
        border: 1px solid #9E9FA7;
        color: #9E9FA7;
      }
      .inProgress {
        border: 1px solid #00629B;
        color: #00629B;
      }
      .stalled {
        border: 1px solid #CF4520;
        color: #CF4520;
      }
    }
    [data-widget="pipelineTrend"] {
      div {
        p.widget-subheading {
          color: #196AE5;
          font-size: 12px;
          font-weight: 600;
          line-height: 15px;
          display: inline-block;
        }
        div.legend {
          float: right;
          div {
            display: inline-block;
            color: #757683;
            font-size: 12px;
            line-height: 15px;
          }
          span {
            height: 14px;
            width: 14px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;
            vertical-align: bottom;
            &.increase {
              background: #F8CB00;
            }
            &.reduce {
              background: #00629B;
              margin-left: 10px;
            }
          }
        }
      }
      ul {
        margin-top: 41px;
        li {
          display: inline-block;
          width: 22%;
          vertical-align: top;
          padding-bottom: 40px;
          &:not(:last-child) {
            border-right: 0.5px solid #DCDDDF;
          }
          &:nth-child(n+2) {
            margin-left: 14px;
          }
          p.trendName {
            color: #757683;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 25px;
          }
          p.frequencyValue {
            color: #212338;
            font-size: 54px;
            line-height: 68px;
            text-align: center;
          }
          p.frequency {
            color: #196AE5;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            position: relative;
            right: 13px;
          }
          span {
            font-size: 25px;
            &.glyphicon-arrow-up {
              color: #F8CB00;
            }
            &.glyphicon-arrow-down {
              color: #00629B
            }
          }
          sup {
            font-weight: 600;
            font-size: 14px;
            vertical-align: super;
          }
        }
      }
    }
    [data-widget="qualityTrend"] {
      div {
        p.widget-subheading {
          color: #196AE5;
          font-size: 12px;
          font-weight: 600;
          line-height: 15px;
          display: inline-block;
        }
        div.legend {
          float: right;
          div {
            display: inline-block;
            color: #757683;
            font-size: 12px;
            line-height: 15px;
          }
          span {
            height: 14px;
            width: 14px;
            display: inline-block;
            border-radius: 50%;
            margin-right: 10px;
            vertical-align: bottom;
            &.increase {
              background: #F8CB00;
            }
            &.reduce {
              background: #00629B;
              margin-left: 10px;
            }
          }
        }
      }
      ul {
        margin-top: 20px;
        li {
          display: inline-block;
          width: 30%;
          vertical-align: top; // padding-bottom: 40px;
          &:not(:last-child) {
            border-right: 0.5px solid #DCDDDF;
          }
          &:nth-child(n+2) {
            margin-left: 19px;
          }
          p.trendName {
            color: #757683;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 25px;
          }
          p.type {
            color: #196AE5;
            font-size: 12px;
            line-height: 15px;
          }
          p.frequencyValue {
            color: #212338;
            font-size: 44px;
            line-height: 68px;
          }
          span {
            font-size: 25px;
            &.glyphicon-arrow-up {
              color: #F8CB00;
            }
            &.glyphicon-arrow-down {
              color: #00629B
            }
          }
          sup {
            font-weight: 600;
            font-size: 14px;
            vertical-align: super;
          }
        }
      }
    }
  }
}

