.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    p{
      display: inline-block;
      font-family: "source-sans-pro";
      color: #BBC0C4;
      line-height: 50px;
      &.copyright{	
        font-size: 14px;
        padding-left: 30px;
      }
      &.byNess{
        font-size: 12px;	
        letter-spacing: 4px;
        text-transform: uppercase;
        float: right;
        padding-right: 30px;
      }
    }
}