.navbar-collapse, .container-fluid{
  padding: 0;
}
.navbar-default{
  background: #172A3A;
  border: none;
  height: 80px;
  margin: 0;
  font-family: "source-sans-pro";	
  .active a{
    height: 19px;	
    color: #9E9FA7 !important;
    font-size: 14px;
    border-bottom: 1px solid #196AE5;
    background-color: rgba(33,35,56,1) !important;
    padding: 0;
    margin-left: 145px; 
    position: relative;
    top: 28px;
  }
  a:hover{
    color: #FFF !important;
  }
  .dropdown-menu{
    width: 100%;
  }
  .dropdown.open a:hover{
    color: #172A3A !important;
  }
  .logo{
    position: absolute;
    left: 50%;
    margin-left: -25px;
    img{
      width: 55px;
    }
    small{
      height: 20px;
      color: #757683;
      font-size: 11px;	
      letter-spacing: 4px;	
      line-height: 20px;	
      text-align: center;
      text-transform: uppercase;
      display: block;
      position: relative;
      right: 20px;
    }
  }
  .navbar-right{
    margin-right: 30px;
  }
  .bell{
    color: #9E9FA7;
    font-size: 20px;
    position: relative;
    top: 30px;
    margin-right: 30px;
  }
  .dropdown{
    position: relative;
    top: 14px;
    .user{
      display: inline-block;
      margin-right: 10px;
    }
  }
}