.dashboard .widget-wrapper {
    position: relative;
}
line-chart{
    vertical-align: bottom;
    position: absolute;
    bottom: 25px;
    left: 20px;
    .axis path,
    .axis line{
    fill: #f2f7fa;
    stroke:#0c6399;
    }
    .x.axis line {
        stroke: lightgrey;
	}
    .axis text{
        font-family: 'Source Sans Pro';
        font-size: 12px;
        color: #757683;
    }
    .area {
    fill: lightsteelblue;
    stroke-width: 0;
}
    .tick
    {
    stroke-dasharray: 1, 2;
    }
    .line-dot {
        z-index: 99;
        stroke-width : 2px;
        stroke : #0c6399;
        fill: #fff;
    }
}
