.loginContainer {
  width: 360px;
  margin: 0 auto;
  padding: 0;
  img {
    width: 70px;
    height: 185px;
    display: block;
    margin: 0 auto 125px;
  }
  .btn-default:hover a {
    color: #196AE5;
  }
  #emailInput,
  #passwordInput {
    height: 46px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
  }
  label {
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  input[type="checkbox"] {
    height: 16px;
    width: 16px;
    border: 2px solid #BBC0C4;
    border-radius: 2px;
  }
  .checkbox label {
    color: #747F89;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0px;
  }
  button {
    height: 44px;
    width: 360px;
    background-color: #196AE5;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    border-color: #196AE5;
    position: relative;
    font-family: "source-sans-pro";
  }
  button span {
    position: absolute;
    top: 12px;
    left: 38%;
  }
  a.forgot{
    color: #757683;	
    font-family: "source-sans-pro";	
    font-size: 14px;	
    line-height: 21px;	
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    display: block;
  }
}
