html {
  position: relative;
  min-height: 100%; }

body {
  background: #212338;
  font-family: "proxima-nova", "source-sans-pro", sans-serif !important;
  margin-bottom: 50px !important;
  box-sizing: border-box; }

.container {
  width: 100%;
  padding: 0; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #757683; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.loginContainer {
  width: 360px;
  margin: 0 auto;
  padding: 0; }
  .loginContainer img {
    width: 70px;
    height: 185px;
    display: block;
    margin: 0 auto 125px; }
  .loginContainer .btn-default:hover a {
    color: #196AE5; }
  .loginContainer #emailInput,
  .loginContainer #passwordInput {
    height: 46px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 16px; }
  .loginContainer label {
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px; }
  .loginContainer input[type="checkbox"] {
    height: 16px;
    width: 16px;
    border: 2px solid #BBC0C4;
    border-radius: 2px; }
  .loginContainer .checkbox label {
    color: #747F89;
    font-size: 12px;
    text-transform: none;
    letter-spacing: 0px; }
  .loginContainer button {
    height: 44px;
    width: 360px;
    background-color: #196AE5;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    border-color: #196AE5;
    position: relative;
    font-family: "source-sans-pro"; }
  .loginContainer button span {
    position: absolute;
    top: 12px;
    left: 38%; }
  .loginContainer a.forgot {
    color: #757683;
    font-family: "source-sans-pro";
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    display: block; }

.navbar-collapse, .container-fluid {
  padding: 0; }

.navbar-default {
  background: #172A3A;
  border: none;
  height: 80px;
  margin: 0;
  font-family: "source-sans-pro"; }
  .navbar-default .active a {
    height: 19px;
    color: #9E9FA7 !important;
    font-size: 14px;
    border-bottom: 1px solid #196AE5;
    background-color: #212338 !important;
    padding: 0;
    margin-left: 145px;
    position: relative;
    top: 28px; }
  .navbar-default a:hover {
    color: #FFF !important; }
  .navbar-default .dropdown-menu {
    width: 100%; }
  .navbar-default .dropdown.open a:hover {
    color: #172A3A !important; }
  .navbar-default .logo {
    position: absolute;
    left: 50%;
    margin-left: -25px; }
    .navbar-default .logo img {
      width: 55px; }
    .navbar-default .logo small {
      height: 20px;
      color: #757683;
      font-size: 11px;
      letter-spacing: 4px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      display: block;
      position: relative;
      right: 20px; }
  .navbar-default .navbar-right {
    margin-right: 30px; }
  .navbar-default .bell {
    color: #9E9FA7;
    font-size: 20px;
    position: relative;
    top: 30px;
    margin-right: 30px; }
  .navbar-default .dropdown {
    position: relative;
    top: 14px; }
    .navbar-default .dropdown .user {
      display: inline-block;
      margin-right: 10px; }

.view-header {
  background-color: #272942;
  height: 60px;
  padding: 0 115px 0 145px; }
  .view-header p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 60px;
    display: inline-block; }
  .view-header .navbar-right {
    margin-top: 7px; }
  .view-header button {
    height: 36px;
    width: 140px;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    border: none;
    margin: 5px;
    outline: none; }

.wrapper {
  font-family: "source-sans-pro"; }
  .wrapper .dashboard-view-header button.export {
    background: #757683; }
  .wrapper .dashboard-view-header button.settings, .wrapper .dashboard-view-header button.cancel {
    background: #196AE5; }
  .wrapper .dashboard-view-header button.save {
    background: #4CAF50; }
  .wrapper .dashboard-view-header .dashboardNames {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 70%; }
    .wrapper .dashboard-view-header .dashboardNames div {
      display: inline-block;
      border-right: 1px solid #757683;
      width: 220px;
      position: relative; }
      .wrapper .dashboard-view-header .dashboardNames div:first-child p {
        text-align: left;
        padding-left: 0;
        width: 205px; }
      .wrapper .dashboard-view-header .dashboardNames div:first-child sup {
        display: none; }
      .wrapper .dashboard-view-header .dashboardNames div:last-of-type {
        border-right: none; }
      .wrapper .dashboard-view-header .dashboardNames div sup {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #CF4520; }
    .wrapper .dashboard-view-header .dashboardNames p {
      padding: 0 10px;
      cursor: pointer; }
      .wrapper .dashboard-view-header .dashboardNames p.active {
        color: #196AE5; }
    .wrapper .dashboard-view-header .dashboardNames span.glyphicon {
      color: #196AE5;
      border: 2px solid #196AE5;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 24px;
      cursor: pointer; }
    .wrapper .dashboard-view-header .dashboardNames.blurAdd {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px); }
  .wrapper .dashboard-view-header .newDash {
    position: absolute;
    top: 7px;
    /* when hiding the picture */
    /* when showing the picture */
    /* flip in */
    /*flipout*/ }
    .wrapper .dashboard-view-header .newDash.ng-hide-add {
      animation: 0.5s flipOutX ease; }
    .wrapper .dashboard-view-header .newDash.ng-hide-remove {
      animation: 0.5s flipInX ease; }
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px); } }
@keyframes flipOutX {
  from {
    transform: perspective(400px); }
  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 0.5; }
  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
    .wrapper .dashboard-view-header .newDash input {
      height: 36px;
      border-radius: 2px;
      width: 300px; }
      .wrapper .dashboard-view-header .newDash input::-webkit-input-placeholder {
        text-align: center; }
      .wrapper .dashboard-view-header .newDash input:-moz-placeholder {
        /* Firefox 18- */
        text-align: center; }
      .wrapper .dashboard-view-header .newDash input::-moz-placeholder {
        /* Firefox 19+ */
        text-align: center; }
      .wrapper .dashboard-view-header .newDash input:-ms-input-placeholder {
        text-align: center; }
    .wrapper .dashboard-view-header .newDash button {
      width: 50px; }
  .wrapper .slider-content {
    padding: 13px 145px 24px;
    background: #5C5E6C;
    height: 230px;
    overflow: hidden;
    /* when showing the picture */ }
    .wrapper .slider-content p.info {
      color: #C9C9CD;
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 10px; }
    .wrapper .slider-content .owl-carousel {
      border: 1px dashed #757683;
      border-radius: 2px;
      position: relative; }
      .wrapper .slider-content .owl-carousel .slide {
        position: relative;
        background: #212338;
        width: 250px;
        margin: 30px 20px;
        color: #FFFFFF;
        padding: 15px;
        font-size: 14px;
        line-height: 21px;
        z-index: 9999;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 5px 1px #585a68;
        -moz-box-shadow: 0px 0px 5px 1px #585a68;
        box-shadow: 0px 0px 5px 1px #585a68; }
        .wrapper .slider-content .owl-carousel .slide h2 {
          margin-bottom: 5px;
          font-weight: 600; }
        .wrapper .slider-content .owl-carousel .slide:after {
          content: '+';
          background: #196AE5;
          width: 20px;
          height: 20px;
          position: absolute;
          top: -8px;
          right: -8px;
          border-radius: 50%;
          text-align: center;
          line-height: 19px;
          font-size: 24px;
          font-weight: 500; }
        .wrapper .slider-content .owl-carousel .slide.active {
          background: #757683; }
          .wrapper .slider-content .owl-carousel .slide.active:after {
            content: '\2013';
            background: #CF4520;
            width: 20px;
            height: 20px;
            position: absolute;
            top: -8px;
            right: -8px;
            border-radius: 50%;
            text-align: center;
            line-height: 17px;
            font-size: 24px;
            font-weight: 500; }
      .wrapper .slider-content .owl-carousel .owl-prev,
      .wrapper .slider-content .owl-carousel .owl-next {
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        line-height: 34px;
        display: block;
        text-align: center;
        position: absolute;
        top: 64px;
        z-index: 999;
        cursor: pointer;
        color: #000; }
      .wrapper .slider-content .owl-carousel .owl-next {
        right: -20px; }
      .wrapper .slider-content .owl-carousel .owl-prev {
        left: -20px; }
      .wrapper .slider-content .owl-carousel .owl-nav {
        margin-top: 0; }
      .wrapper .slider-content .owl-carousel:before, .wrapper .slider-content .owl-carousel:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 50px;
        top: 0;
        height: 100%;
        display: block; }
      .wrapper .slider-content .owl-carousel:before {
        left: 0;
        background: linear-gradient(to right, #5C5E6C, transparent); }
      .wrapper .slider-content .owl-carousel:after {
        right: 0;
        background: linear-gradient(to left, #5C5E6C, transparent); }
    .wrapper .slider-content.ng-hide-add {
      animation: 0.1s fadeOut ease; }
    .wrapper .slider-content.ng-hide-remove {
      animation: 0.5s fadeIn ease; }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
  .wrapper .dashboard {
    background: #E8E8E9;
    overflow: auto;
    padding: 30px 0;
    height: 1140px; }
    .wrapper .dashboard .widget-hidden {
      display: none !important; }
    .wrapper .dashboard .dashboard-wrapper {
      margin: 0 auto;
      width: 1265px;
      display: none; }
      .wrapper .dashboard .dashboard-wrapper.active {
        display: block; }
    .wrapper .dashboard .widget-wrapper {
      display: inline-block;
      height: 330px;
      width: 600px;
      background: #FFFFFF;
      padding: 20px;
      box-shadow: 0 4px 10px 0 #D1D4D7;
      vertical-align: top;
      margin: 15px; }
      .wrapper .dashboard .widget-wrapper span.remove {
        position: absolute;
        top: -8px;
        right: -8px;
        background: #CF4520;
        height: 20px;
        line-height: 19px;
        border-radius: 50%;
        color: #FFFFFF;
        width: 20px;
        text-align: center;
        cursor: pointer; }
    .wrapper .dashboard p.widget-heading {
      margin-bottom: 16px;
      color: #172A3A;
      font-size: 16px;
      font-weight: 600; }
    .wrapper .dashboard table {
      border: 1px solid #E7E8E9; }
      .wrapper .dashboard table thead {
        background: #F3F3F4; }
        .wrapper .dashboard table thead th {
          color: #172A3A;
          font-size: 12px;
          font-weight: 600; }
          .wrapper .dashboard table thead th:nth-child(n+2) {
            text-align: center; }
      .wrapper .dashboard table .release {
        font-size: 14px;
        color: #172A3A;
        line-height: 28px;
        width: 150px; }
      .wrapper .dashboard table .done,
      .wrapper .dashboard table .awaiting,
      .wrapper .dashboard table .inProgress,
      .wrapper .dashboard table .stalled {
        border-radius: 2px;
        text-align: center;
        font-size: 12px;
        width: 100%;
        max-width: 80px;
        padding: 5px 0;
        margin: 0 auto; }
      .wrapper .dashboard table .done {
        border: 1px solid #4CAF50;
        color: #4CAF50; }
      .wrapper .dashboard table .awaiting {
        border: 1px solid #9E9FA7;
        color: #9E9FA7; }
      .wrapper .dashboard table .inProgress {
        border: 1px solid #00629B;
        color: #00629B; }
      .wrapper .dashboard table .stalled {
        border: 1px solid #CF4520;
        color: #CF4520; }
    .wrapper .dashboard [data-widget="pipelineTrend"] div p.widget-subheading {
      color: #196AE5;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      display: inline-block; }
    .wrapper .dashboard [data-widget="pipelineTrend"] div div.legend {
      float: right; }
      .wrapper .dashboard [data-widget="pipelineTrend"] div div.legend div {
        display: inline-block;
        color: #757683;
        font-size: 12px;
        line-height: 15px; }
      .wrapper .dashboard [data-widget="pipelineTrend"] div div.legend span {
        height: 14px;
        width: 14px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: bottom; }
        .wrapper .dashboard [data-widget="pipelineTrend"] div div.legend span.increase {
          background: #F8CB00; }
        .wrapper .dashboard [data-widget="pipelineTrend"] div div.legend span.reduce {
          background: #00629B;
          margin-left: 10px; }
    .wrapper .dashboard [data-widget="pipelineTrend"] ul {
      margin-top: 41px; }
      .wrapper .dashboard [data-widget="pipelineTrend"] ul li {
        display: inline-block;
        width: 22%;
        vertical-align: top;
        padding-bottom: 40px; }
        .wrapper .dashboard [data-widget="pipelineTrend"] ul li:not(:last-child) {
          border-right: 0.5px solid #DCDDDF; }
        .wrapper .dashboard [data-widget="pipelineTrend"] ul li:nth-child(n+2) {
          margin-left: 14px; }
        .wrapper .dashboard [data-widget="pipelineTrend"] ul li p.trendName {
          color: #757683;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 25px; }
        .wrapper .dashboard [data-widget="pipelineTrend"] ul li p.frequencyValue {
          color: #212338;
          font-size: 54px;
          line-height: 68px;
          text-align: center; }
        .wrapper .dashboard [data-widget="pipelineTrend"] ul li p.frequency {
          color: #196AE5;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          position: relative;
          right: 13px; }
        .wrapper .dashboard [data-widget="pipelineTrend"] ul li span {
          font-size: 25px; }
          .wrapper .dashboard [data-widget="pipelineTrend"] ul li span.glyphicon-arrow-up {
            color: #F8CB00; }
          .wrapper .dashboard [data-widget="pipelineTrend"] ul li span.glyphicon-arrow-down {
            color: #00629B; }
        .wrapper .dashboard [data-widget="pipelineTrend"] ul li sup {
          font-weight: 600;
          font-size: 14px;
          vertical-align: super; }
    .wrapper .dashboard [data-widget="qualityTrend"] div p.widget-subheading {
      color: #196AE5;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      display: inline-block; }
    .wrapper .dashboard [data-widget="qualityTrend"] div div.legend {
      float: right; }
      .wrapper .dashboard [data-widget="qualityTrend"] div div.legend div {
        display: inline-block;
        color: #757683;
        font-size: 12px;
        line-height: 15px; }
      .wrapper .dashboard [data-widget="qualityTrend"] div div.legend span {
        height: 14px;
        width: 14px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: bottom; }
        .wrapper .dashboard [data-widget="qualityTrend"] div div.legend span.increase {
          background: #F8CB00; }
        .wrapper .dashboard [data-widget="qualityTrend"] div div.legend span.reduce {
          background: #00629B;
          margin-left: 10px; }
    .wrapper .dashboard [data-widget="qualityTrend"] ul {
      margin-top: 20px; }
      .wrapper .dashboard [data-widget="qualityTrend"] ul li {
        display: inline-block;
        width: 30%;
        vertical-align: top; }
        .wrapper .dashboard [data-widget="qualityTrend"] ul li:not(:last-child) {
          border-right: 0.5px solid #DCDDDF; }
        .wrapper .dashboard [data-widget="qualityTrend"] ul li:nth-child(n+2) {
          margin-left: 19px; }
        .wrapper .dashboard [data-widget="qualityTrend"] ul li p.trendName {
          color: #757683;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 25px; }
        .wrapper .dashboard [data-widget="qualityTrend"] ul li p.type {
          color: #196AE5;
          font-size: 12px;
          line-height: 15px; }
        .wrapper .dashboard [data-widget="qualityTrend"] ul li p.frequencyValue {
          color: #212338;
          font-size: 44px;
          line-height: 68px; }
        .wrapper .dashboard [data-widget="qualityTrend"] ul li span {
          font-size: 25px; }
          .wrapper .dashboard [data-widget="qualityTrend"] ul li span.glyphicon-arrow-up {
            color: #F8CB00; }
          .wrapper .dashboard [data-widget="qualityTrend"] ul li span.glyphicon-arrow-down {
            color: #00629B; }
        .wrapper .dashboard [data-widget="qualityTrend"] ul li sup {
          font-weight: 600;
          font-size: 14px;
          vertical-align: super; }

.dashboard .widget-wrapper {
  position: relative; }

line-chart {
  vertical-align: bottom;
  position: absolute;
  bottom: 25px;
  left: 20px; }
  line-chart .axis path,
  line-chart .axis line {
    fill: #f2f7fa;
    stroke: #0c6399; }
  line-chart .x.axis line {
    stroke: lightgrey; }
  line-chart .axis text {
    font-family: 'Source Sans Pro';
    font-size: 12px;
    color: #757683; }
  line-chart .area {
    fill: lightsteelblue;
    stroke-width: 0; }
  line-chart .tick {
    stroke-dasharray: 1, 2; }
  line-chart .line-dot {
    z-index: 99;
    stroke-width: 2px;
    stroke: #0c6399;
    fill: #fff; }

.wrapper .form-container {
  padding: 0 145px; }
  .wrapper .form-container .breadcrumb {
    background: transparent; }
  .wrapper .form-container label {
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px; }
  .wrapper .form-container input {
    height: 46px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 16px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF; }
  .footer p {
    display: inline-block;
    font-family: "source-sans-pro";
    color: #BBC0C4;
    line-height: 50px; }
    .footer p.copyright {
      font-size: 14px;
      padding-left: 30px; }
    .footer p.byNess {
      font-size: 12px;
      letter-spacing: 4px;
      text-transform: uppercase;
      float: right;
      padding-right: 30px; }
