$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower
html {
  position: relative;
  min-height: 100%;
}

body {
  background: #212338;
  font-family: "proxima-nova", "source-sans-pro", sans-serif !important;
  margin-bottom: 50px !important;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); // border-radius: 2px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  // border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #757683;
}

@import 'reset.scss';
@import 'login.scss';
@import 'header.scss';
@import 'subHeader.scss';
@import 'dashboard.scss';
@import 'linechart.scss';
@import 'projects.scss';
@import 'footer.scss';
