.wrapper{
  .form-container{
    padding: 0 145px;
    .breadcrumb{
      background: transparent;
    }
    label{
      font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    }
    input{
          height: 46px;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    }
  }
}