.view-header {
    background-color: #272942;
    height: 60px;
    padding: 0 115px 0 145px;
    p {
      // margin-left: 145px;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 60px;
      display: inline-block;
    }
    .navbar-right {
      // margin-right: 145px;
      margin-top: 7px;
    }
    button {
      height: 36px;
      width: 140px;
      border-radius: 2px;
      color: #FFFFFF;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      border: none;
      margin: 5px;
      outline: none;
    }
  }